
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>蜜播</title>

    <!-- backbone的JS -->
    <script src="http://the5fireblog.b0.upaiyun.com/staticfile/jquery-1.10.2.js"></script>
    <script src="http://the5fireblog.b0.upaiyun.com/staticfile/underscore.js"></script>
    <script src="http://the5fireblog.b0.upaiyun.com/staticfile/backbone.js"></script>
    <link rel="stylesheet" type="text/css" href="css/livingshare.css" />
</head>
<body>

    <!-- header 推荐主播-->
    <header class="top">
        
    </header>

    <!-- center 其他热门主播-->
    <div class="center">
        <div class="center-title">热门直播</div>
        <ul class="center-anchor">
        </ul>
    </div>

    <div class="loadgif">
        <img src="http://image.matewish.cn/app-wishlist/loading.gif">
        <p class="load-zt" style="font-size:16px">正在加载中…</p>
    </div>


    <!-- 推荐主播(前端模板) -->
    <script type="text/template" id="anchor-template">
        <div>
            <div class="anchor">
                <img src="<%= obj.main_pic %>">
            </div>
            <% if(obj.flag == 1) { %>
            <a class="anchor-state-1" href="grade.html"></a>
            <% }else{ %>
            <div class="anchor-state-2">
                <p>直播已结束</p>
                <p>快去看看热门直播吧</p>
            </div> 
            <% } %>
        </div>
        <div class="mask">
            <img class="logo" src="image/logo.png">
            <div class="platform-info"> 
                <p>蜜播</p>
                <p>更好玩的手机直播APP</p>
                <a href="#">立即下载</a>
            </div>
        </div>
        <div class="top-content">
            <div style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden; display: inline; float: left;border: 1px solid #6cf7b9; margin: 20px 10px">
                <img class="photo" src="<%= obj.pic %>">
            </div>
            <div class="info">
                <p style="height: 20px;">
                    <span class="name"><%= obj.nick_name %></span>
                    
                        <img src="<%= obj.sex %>" class="sex">
                    <span class="grade-rq">
                        <img src="@grade" class="grade">
                    </span>
                    <span class="grade-1">
                        <%= obj.level_no %>
                    </span>
                    </span>
                </p>
                <p><span class="age"><%= obj.age %>岁&nbsp;</span>ID:<span class="id"><%= obj.client_no %></span></p>
                <p class="label"><%= obj.sign_name %></p>
                <% if(obj.attention == 1) { %>
                <a href="javascript:;" class="floow">已关注</a>
                <% } else { %>
                <a href="javascript:;" class="floow">关注</a>
                <% } %>
            </div>
        </div>
    </script>


    <!-- 其他主播(前端模板) -->
    <script type="text/template" id="OtherAnchor-template">
        <% _.each(list,function(obj){ %>
            <li onclick="location.href='http://www.baidu.com?'">
                <img class="other-anchor" src="<%= obj.main_pic %>"><a>直播</a>
                <p class="look-number"><img src="image/look.png"><span class="person_count"><%= obj.person_count %></span><span>人</span></p>
            </li>
        <% }) %>
    </script>




    <script type="text/javascript" src="js/livingshare_backbone.js"> </script>



    
</body>
</html>