
h1 {
	margin: 0;
}
#scrollbar {
	margin:10px auto;
}
#scrollbar .scrollbar {
	position: relative;
	background-position: 0 0;
	float: right;
	width: 8px;
}
#scrollbar .viewport {
	height: 200px;
	overflow: hidden;
	position: relative;
}
#scrollbar .track {
	background: #a7a7a7;
	height: 100%;
	width: 8px;
	position: relative;
	border-radius: 10px;
}
#scrollbar .thumb {
	background: #666;
	height: 20px;
	width: 8px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	border-radius: 10px;
}
#scrollbar .viewport {
	width: 95%;
	height: 200px;
	overflow: hidden;
	position: relative;
}
#scrollbar .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}
#scrollbar2 {
	margin: 10px auto;
	width: 520px;
}
#scrollbar2 .scrollbar {
	clear: both;
	height: 8px;
	margin: 0 0 5px;
	position: relative;
	background:#ccc;
}
#scrollbar2 .track {
	background:#ccc;
	height: 8x;
	position: relative;
	width: 100%;
}
#scrollbar2 .thumb {
	background:#CC0071;
	cursor: pointer;
	height: 8px;
	left: 0;
	overflow: hidden;
	position: absolute;
}
#scrollbar2 .viewport {
	height: 125px;
	overflow: hidden;
	position: relative;
	width: 520px;
}
#scrollbar2 .overview {
	left: 0;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 3000px;
}