*{
	padding: 0;
	margin: 0;
}
body {
    font-family:"微软雅黑";
    background-color:#e6e6e6;
    color:#505050;
}
@media all and (min-width:640px){
    body{width:640px;margin-right:auto;margin-left:auto}
}
section{
	width: 100%;
}
section ul{
    list-style-type: none;
    margin-top:6.25%; 
    color: #3a3a3a;
}
section ul li{
    padding-bottom: 4.5%;
    padding-left: 4.5%;
}
section ul li h4{
    font-size: 16px;
    padding-bottom: 4.5%;
    color: #505050;
}
section ul li .disc{
    margin-top: -5px;
    vertical-align: middle;
    display: inline-block;
    background-color: #505050;
    width: 5px;
    height: 5px;
    margin-right:5px; 
    border-radius: 50%;
}
section ul li p {
    padding-left: 10px;
    padding-right: 4.5%;
    color:#505050;
    line-height:30px;
}