
        html,body{
            margin: 0;
            padding: 0;
        }
        @media all and (min-width:640px){
            body{width:640px;margin-right:auto;margin-left:auto}
        }
        p,a{
            margin: 0;
            padding: 0;
            font-size: 12px;
            text-decoration: none;
        }
        /* 推荐主播部分 */
        
        .top{
            width: 100%;
            position: relative;
            padding-bottom: 110px;
        }
        @media (max-width:450px){
            .top{
                padding-bottom: 90px;
            }
        }

        
        /* 推荐上部分 */
        /* 推荐image */
        .top .anchor{
            position: relative;
            overflow: hidden;
            width: 100%;
        }
         .top .anchor img{
            position: absolute;
            width: 100%;
             z-index: 0;
            top:50%;
            -webkit-transform:translate(0%,-50%);
         }
        /* 直播平台下载的遮罩层 */
        .top .mask{
            position: fixed;
            top:0;
            height: 11%;
            z-index: 1;
            background: rgba(78,78,74,.7);
        }
        @media (max-width:450px){
            .top .mask{
                height: 60px;
            }
        }
        @media (max-width:350px){
            .top .mask{
                height: 50px;
            }
        }
        .top .logo{
            padding-top: 10px;
            padding-left: 20px;
            display: inline;
            float: left;
            width: 13%;
        }
        @media (max-width:450px){
            .top .logo{
                padding-top: 7px;
                padding-left: 12px;
                width: 11%;
            }
        }
        .top .platform-info{
            float: left;
            padding-top:20px; 
            padding-left: 10px;
            color:#333333;
        }
        @media (max-width:350px){
           .top .platform-info{
                padding-top:10px; 
            }
        }
        @media (min-width:350px) and (max-width:450px){
            .top .platform-info{
                padding-top:12px; 
                padding-left: 8px;
            }
        }

        .top .platform-info p{
            font: "微软雅黑";
            font-size: 24px;
            color: #fff;
            padding-bottom: 10px;
        }
        @media (max-width:350px){
            .top .platform-info p{
                font-size: 10px;
                color: #fff;
                padding-bottom: 2px;
            }
        }
        @media (min-width:350px) and (max-width:450px){
            .top .platform-info p{
                font-size: 14px;
                color: #fff;
                padding-bottom: 5px;
            }
        }

        .top .platform-info a{
            position: absolute;
            top:23px;
            right: 20px;
            width: 100px;
            line-height: 54px;
            height:54px;
            text-align: center;
            border-radius: 50px;
            border: 2px solid #fff; 
            color: #fff;
            font-size: 24px;
            padding: 0 10px;
        }
        @media (max-width:350px){
            .top .platform-info a{
                top:12px;
                font-size: 14px;
                line-height: 24px;
                height:24px;
                padding: 0 2px;
                width: 70px;
            }
        }
        @media (min-width:350px) and (max-width:450px){
           .top .platform-info a{
                top:18px;
                font-size: 14px;
                line-height: 24px;
                height:24px;
                padding: 0 2px;
                width: 70px;
            }
        }
        @media (min-width:700px) and (max-width:768px){
            .top .platform-info a{
                right: 150px;
            }
        }

        /* 主播的两种状态 */
        .top .anchor-state-1{
            position: absolute;
            top:40%;
            left: 50%;
            -webkit-transform:translate(-50%,-50%);
            background-image: url(http://localhost:8080/ajaxdemo/image/play.png);
            background-size: 100% auto;
            width: 100px;
            height: 100px;
        }

        .top .anchor-state-2{
            position: absolute;
            top:40%;
            left: 50%;
            -webkit-transform:translate(-50%,-50%);
            background: rgba(0,0,0,.4);
            border-radius: 5px;
            height: 100px;
            width: 240px;
            padding-top: 40px;
            text-align: center;
            color: #fff;
        }
        @media (max-width:450px){
            .top .anchor-state-1{
                width: 50px;
                height: 50px;
            }
            .top .anchor-state-2{
                height: 60px;
                padding-top: 20px;
                width: 220px;
            }
        }
        .top .anchor-state-2 p{
            font-size: 14px;
            padding-bottom: 10px;
        }

        /* 推荐下部分 */
        .top-content{
            width:100%;
            height:110px;
            position: absolute;
            bottom: 0;
        }
         @media (max-width:450px){
            .top-content{
                height:90px;
        }
        }
        .top-content .name{
            color: #1a1818;
        }
        .top-content .photo{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .top-content .info{
            display: inline-block;
            padding-top: 20px;
            float: left;

        }
        .top-content .info p{
            line-height: 15px;
            height: 15px;
            font-size: 14px;
            padding: 3px 0;
            margin: 0px;
            color: #b6b6b6;
        }
        .top-content .info .label{
            color: #626161;
        }
         @media (max-width:350px){
            .top-content .info .label{
                font-size: 14px;
            }
        }

        .top-content .info .sex{
            width: 12px;
            height: 16px;
            vertical-align:middle;
            padding: 0 5px;
            margin-top: -3px;
        }
        .top-content .info .grade{
            height: 15px;
            vertical-align:middle;
            padding: 0 3px;
            margin-right:5px; 
            margin-top:2px; 
            border-radius: 20px;
        }
        .top-content .info .grade-rq{
            display: inline-block;
            border-radius:3px; 
            vertical-align: middle;
            margin-top:-2px; 
        }
         .top-content .info .grade-1{
            position: absolute;
            top: 23px;
            font-size: 12px;
             color:#fff;
         }
         .top-content .info .id{
            padding: 0 5px;
         }
         .top-content .info .label{
            font-size:15px;
             width:120px;
             text-overflow: ellipsis;
             overflow: hidden;
             white-space: nowrap;
         }

        /* 其他热门直播 */
        .center{
            padding-top:10px;
            width: 100%;
            float: left;    
        }
        .center .center-title{
            height: 50px;
            line-height: 50px;
            background-color: #6ffabc;
            text-align: center;
            font-size: 26px;
            color: #05a059;
        }
        .center .center-anchor{
            padding: 1px 0;
        }
        .center ul{
            margin: 0px;
        }
        .center ul li{
            list-style-type: none;
            display: block;
            position: relative;
            float: left;
            width: 33.33333%;
            padding: 0px;
            margin: 0px;
            text-align: center;
        }
        .center ul li img{
            width: 99%;
            margin: 0;
            display: block;
            padding-bottom: 1px;
        }
        .center ul li a{
            position: absolute;
            top: 10px;
            right: 10px;
            height: 16px;
            line-height: 16px;
            color: #fff;
            padding: 0 10px;
            border: 1px solid #fff;
            border-radius: 5px;
        }
        @media (max-width:450px){
            .center ul li a{
                font-size:10px; 
                right: 5px;
                padding: 0 2px;
            }
        }
        .center .look-number{
            position: absolute;
            bottom: 1px;
            width: 100%;
            height: 30px;
            line-height: 30px;
            background: rgba(0,0,0,.4); 
            display: table;
        }
        .center .look-number img{
            width: 25px;
            display: inline;
            float: left;
            padding: 8px 5px;
        }
        .center .look-number span{
            padding-right: 2px;
            float: left;
        }
        .center  p{
            font-size: 14px;
            color: #fff;
        }
        .center-anchor>div:after{
            content: '';
            display: table;
            clear: both;
        }


        /* 加载 */
        .loadgif{
            position: absolute;
            top:50%;
            left: 50%;
            -webkit-transform:translate(-50%,-50%);
            margin: 0 auto;
        }

        .loadgif img{
            vertical-align:middle;
        }


        .top-content .info .floow{
            position: absolute;
            right: 20px;
            top:40px;
            text-align:center;
            width: 80px;
            height: 24px;
            line-height: 24px;
            border: 2px solid #0ff68f;
            border-radius: 20px;
            color: #0ff68f;
            font-size:16px; 
        }
        @media (max-width:350px){
            .top-content .info a{
                height: 20px;
                line-height: 20px;
                top:30px;
                width: 70px;
            }
        }
