<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>用户协议</title>
	<link type="text/css" href="../css/base.css" rel="stylesheet">
	<link type="text/css" href="../css/recharge.css" rel="stylesheet">
</head>
<body class="bgcf0f0f0">
	<header>
		<div class="container">
			<img class="logo" src="http://mbpic.mblive.cn/test/logo.png">
			<ul class="nav_top">
				<li><a href="index.html">首页</a></li>
				<li><a href="recharge.html">账户充值</a></li>
				<li><a href="recruit.html">主播招募</a></li>
				<li><a href="history.html">公司历程</a></li>
			</ul>
		</div>
	</header>
	<div class="tab container">
		<span></span>用户协议
	</div>
	<div class="agreement container">
		<h5 class="title">蜜播(APP)用户协议</h5>
		<p>亲爱的用户您好：<br>《蜜播（APP）用户协议》是您与杭州蜜播网络科技有限公司之间签订的协议。请您在注册和登录蜜播APP之前仔细阅读并理解《蜜播（APP）用户协议》以下全部内容，若您是未成年人，请在您的法定监护人的陪读下决定是否接受本协议，关于您的任何注册、登录和使用蜜播APP的行为都将被视为对协议全部内容以及后续蜜播网络科技有限公司对协议所做更改的接受。</p>

		<h6>1.用户使用规则</h6>
		<p>1.1 用户必须保证在蜜播APP上的注册信息的真实性、合法性、有效性，并为之承担全部法律责任，不得冒充他人、利用他人名义传播任何信息和获取任何利益，否则蜜播网络科技有限公司有权对其停止服务，同时用户应承担由其以上行为带来的一切法律责任。</p>
		<p>1.2 用户必须对自己所注册账号下的一切行为负责，包括直播的视频内容、文字内容、语音内容，为之承担所有的法律责任。用户必须保证在蜜播APP上所制作或传播的信息的合法性，同时保证相关信息不侵犯任何第三方知识产权，若由于用户未遵守协议内容而产生的任何后果由用户承担。用户不得制作和传播包含以下信息的内容：</p>
		<p>1)反对宪法所确定的的基本原则的；</p>
		<p>2)危害国家安全，泄露国家机密，颠覆国家政权，破坏国家统一的；</p>
		<p>3)损害国家荣誉和利益的；</p>
		<p>4)煽动民族仇恨、民族歧视，破坏民族团结的；</p>
		<p>5)破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
		<p>6)散步谣言，扰乱社会秩序，破坏社会稳定的；</p>
		<p>7)散步淫秽、色情、粗俗、猥亵、赌博、暴力、凶杀、恐怖、教唆犯罪或其它道德上令人反感的内容；</p>
		<p>8)侮辱或者诽谤他人，侵害他人合法权益的；</p>
		<p>9)含有法律、行政法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的。进行其它任何违法以及侵犯其它个人、公司、社会团体、组织的合法权益的行为。</p>
		<p>1.3用户在使用蜜播APP过程中传播的任何观点和信息都不代表蜜播的官方立场，蜜播不对此负有责任。</p>
		<p>1.4 本协议最终解释权归蜜播公司所有。</p>
		<p>1.4 用户不得在蜜播上进行发布广告、售卖虚拟货币等任何商业行为，不得利用系统漏洞进行任何侵害蜜播的行为，否则蜜播有权终止向用户提供服务并且用户应当承担其行为对蜜播造成的损失和侵害。</p>

		<h6>2.隐私保护</h6>
		<p>2.1 请勿在蜜播平台上向其他用户泄露自己的重要信息，包括自己的详细地址、财产账户、支付密码等，否则由此带来的任何损失由用户自行承担。</p>
		<p>2.2 蜜播承诺不会将用户在使用蜜播过程中向蜜播平台提交的任何个人信息（包括姓名、性别、年龄、身份证号、住址、电话、银行账户等个人资料）未经用户同意就向第三方公开，以下情况除外：</p>
		<p>1)依据相关法律法规要求向政府、司法机关提供您的个人信息；</p>
		<p>2)由于用户个人原因（如共享账户等）导致的个人信泄露；</p>
		<p>3)由于不可抗力导致的信息泄露。</p>

		<h6>3.法律责任及免责</h6>
		<p>3.1 用户因电信部门的通讯线路故障、网络等原因遭受的损失，蜜播不承担责任。</p>
		<p>3.2 因不可抗力造成的蜜播平台无法正常提供服务时，蜜播承诺将尽力配合电力、电信等相关部门解决问题，但是由此对用户造成的损失，蜜播不承担相关责任。</p>
		<p>3.3 若因用户未遵守相关协议，或用户终端感染病毒导致的给用户带来损失和侵害的，蜜播不承担责任。</p>
		<p>3.4 若因他人在使用蜜播过程中冒 用用户姓名、身份等信息，进行诈骗或其它违反协议内容的行为，由此给用户或其他用户带来的困扰或损害，蜜播不承担责任，但是蜜播有义务帮助受害人追究凶手责任。</p>

		<h6>4.补充条款</h6>
		<p>4.1 本协议条款的签订、解释以及争议的解决均适用于中华人民共和国法律。</p>
		<p>4.2 本协议的签署地点为浙江省杭州市，用户与蜜播发生任何纠纷，应通过友好协商解决，协调未果的，用户及蜜播公司同意将争议提交至杭州市滨江区人民法院。</p>
		<p>4.3 蜜播保留对本协议所有内容的解释权和修改权。</p>
	</div>
	<footer>
		<ul>
			<li><a href="recruit.html">主播招募</a></li>
			<li><a href="agreement.html">用户协议</a></li>
			<li><a href="contact.html">联系我们</a></li>
			<li><a href="history.html">公司历程</a></li>
		</ul>
		<p>Copyright 2016 MBLive  杭州蜜播网络科技有限公司 </p>
        <p>公司地址：杭州市滨江区六合路368海创基地北楼三楼 <!--联系电话：0571-87613821--> </p>
        <p>浙ICP备16021674号-1 <img style="width:20px;height:20px;padding: 0 5px 0 10px;vertical-align: middle;margin-top: -5px;" src="http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/beian.png">浙公网安备 33010802004617号 </p>
	</footer>
	<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>