<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>联系我们</title>
	<link type="text/css" href="../css/base.css" rel="stylesheet">
	<link type="text/css" href="../css/recharge.css" rel="stylesheet">
</head>
<body class="bgcf0f0f0">
	<header>
		<div class="container">
			<img class="logo" src="http://mbpic.mblive.cn/test/logo.png">
			<ul class="nav_top">
				<li><a href="index.html">首页</a></li>
				<li><a href="recharge.html">账户充值</a></li>
				<li><a href="recruit.html">主播招募</a></li>
				<li><a href="history.html">公司历程</a></li>
			</ul>
		</div>
	</header>
	<div class="tab container">
		<span></span>联系我们
	</div>
	<div class="contact container">
		<div class="contact_left">
			<div class="contact_list">
				<h6>蜜播运营</h6>
				<p>工会入驻及经纪传媒公司合作</p>
				<p class="ca0a0a0 mb15">张大大 QQ：3575518823</p>

				<p>主播认证及运营相关问题</p>
				<p class="ca0a0a0 mb15">博文 QQ：2561262388</p>

				<p>充值专用绿色通道</p>
				<p class="ca0a0a0 mb15">微信：yccxxbb</p>
			</div>
			<div class="contact_list">
				<h6>商务合作</h6>
				<p>各大应用商店、应用市场、渠道及品牌合作</p>
				<p class="ca0a0a0 mb15">蒋先生 email：jiangxinwei@mblive.cn</p>
			</div>
			<div class="contact_list">
				<h6>客服中心</h6>
				<p>处理技术问题、客服问题及投诉等</p>
				<p class="ca0a0a0">QQ：3536780586</p>
				<p class="ca0a0a0 mb15">微信：mibokefu</p>

				<p>客服电话（工作日09：00—17：30）</p>
				<p class="ca0a0a0 mb15">电话：0571-87613821</p>
			</div>
		</div>
		<div class="public">
			<img src="http://mbpic.mblive.cn/test/gzh_code.png">
			<p>扫一扫关注蜜播公众号</p>
		</div>
	</div>
	<footer>
		<ul>
			<li><a href="recruit.html">主播招募</a></li>
			<li><a href="agreement.html">用户协议</a></li>
			<li><a href="contact.html">联系我们</a></li>
			<li><a href="history.html">公司历程</a></li>
		</ul>
		<p>Copyright 2016 MBLive  杭州蜜播网络科技有限公司 </p>
        <p>公司地址：杭州市滨江区六合路368海创基地北楼三楼 <!--联系电话：0571-87613821--> </p>
        <p>浙ICP备16021674号-1 <img style="width:20px;height:20px;padding: 0 5px 0 10px;vertical-align: middle;margin-top: -5px;" src="http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/beian.png">浙公网安备 33010802004617号 </p>
	</footer>
	<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>