<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="映客,花椒,派派,斗鱼秀场,约炮神器,yy,比邻,抱抱,探探,她社区,虎牙,战旗,58同城,陌陌,ME,喵播,水晶VR,觅蜜,来疯,快手,唱吧,秒美拍,小咖秀,芒果熊猫TV,快播,龙珠,繁星,触手伙星,全民实时手机互动直播交友,物色在直播的颜值美女网红,一起秀美颜视频">
    <meta name="Description" content="蜜播直播，汇集帅哥美女、校花校草、影视明星、热门网红，话题涉及综艺娱乐、日常趣事、创意生活等内容；在蜜播，与美女和鲜肉互动的同时，主播能获得粉丝与报酬。">
    <title>蜜播-美女直播平台-高颜值人气主播聚集地</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/jquery.fullpage.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>
    <script src="../js/index.js"></script>
</head>
<body>
    <div id="fullPage">
        <!--第一屏-->
        <div class="section section1">
            <div class="skin">
                <div class="bg_banner bg_banner1"></div>
                <div class="bg_banner bg_banner2"></div>
                <div class="bg_banner bg_banner3"></div>
                <div class="index_top">
                    <img class="logo" src="http://mbpic.mblive.cn/test/index_logo.png">
                    <div class="index_tab">
                        <a href="recruit.html" class="live_recruit">主播招募</a>
                        <span>|</span>
                        <a href="recharge.html" class="id_recharge">账号充值</a>
                    </div>
                </div>
                <div class="index_content">
                    <img src="http://mbpic.mblive.cn/test/index_slogan.png">
                    <div class="download">
                        <a href="#">
                            <img src="http://mbpic.mblive.cn/test/index_ios_download.png">
                        </a>
                        <a href="#">
                            <img src="http://mbpic.mblive.cn/test/index_android_download.png">
                        </a>
                        <a href="javascript:void(0)" class="scan_download">
                            <img src="http://mbpic.mblive.cn/test/index_scan_download.png">
                        </a>
                        <div class="download_qrcode">
                            <img src="http://mbpic.mblive.cn/test/download_qrcode.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--第二屏-->
        <div class="section section2 ">
            <div class="skin">
                <div class="index_con index_con2">
                    <div class="phone_show phone_show2">
                        <img class="live model2-a1 " src="http://mbpic.mblive.cn/test/iphone_start_live_background.png" />
                        <img class="live model2-a2" src="http://mbpic.mblive.cn/test/iphone_start_live.png" />
                        <img class="live model2-a3" src="http://mbpic.mblive.cn/test/iphone_touch_point.png" />
                        <img class="live model2-a4" src="http://mbpic.mblive.cn/test/iphone_touch_point_background.png" />
                        <img class="live model2-a5" src="http://mbpic.mblive.cn/test/live_room.png" />
                    </div>
                    <div class="phone_introduce phone_introduce2">
                        <p class=" index_p1">实时直播</p>
                        <p class=" index_p2">Life on live</p>
                        <p class=" index_p3"></p>
                        <p class=" index_p4">举起手机&nbsp&nbsp你就是世界注目的中心</p>
                    </div>
                </div>
            </div>
        </div>
        <!--第三屏-->
        <div class="section section3 " >
            <div class="skin">
                <div class="index_con index_con3">
                    <div class="phone_introduce phone_introduce3">
                        <p class=" index_p1">打破距离界限</p>
                        <p class=" index_p2">Unlimited interaction</p>
                        <p class=" index_p3"></p>
                        <p class=" index_p4">自由自在&nbsp&nbsp随时随地表达你的个性态度</p>
                    </div>
                    <div class="phone_show phone_show3">
                        <img class="live model3-a1" src="http://mbpic.mblive.cn/test/anchor.png" />
                        <img class="live model3-a2" src="http://mbpic.mblive.cn/test/live_room_button.png" />
                        <img class="live model3-a3" src="http://mbpic.mblive.cn/test/point_like.png" />
                        <img class="live model3-a4" src="http://mbpic.mblive.cn/test/bulletscreen0.png" />
                        <img class="live model3-a5" src="http://mbpic.mblive.cn/test/bulletscreen1.png" />
                        <img class="live model3-a6" src="http://mbpic.mblive.cn/test/bulletscreen2.png" />
                        <img class="live model3-a7" src="http://mbpic.mblive.cn/test/bulletscreen3.png" />
                        <img class="live model3-a8" src="http://mbpic.mblive.cn/test/bulletscreen4.png" />
                    </div>
                </div>
            </div>
        </div>
        <!--第四屏-->
        <div class="section section4 ">
            <div class="skin">
                <div class="index_con index_con4">
                    <div class="phone_show phone_show4">
                        <img class="live model4-a1" src="http://mbpic.mblive.cn/test/before_beauty.png" />
                        <img class="live model4-a2" src="http://mbpic.mblive.cn/test/anchor_live.png" />
                        <img class="live model4-a3" src="http://mbpic.mblive.cn/test/star.png" />
                        <img class="live model4-a4" src="http://mbpic.mblive.cn/test/after_beauty.png" />
                    </div>
                    <div class="phone_introduce phone_introduce4">
                        <p class=" index_p1">与更美相遇</p>
                        <p class=" index_p2">Fantastic beauty</p>
                        <p class=" index_p3"></p>
                        <p class=" index_p4">智能美颜&nbsp&nbsp你的专属美丽主张</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>