<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>微信支付</title>
	<link type="text/css" href="../css/base.css" rel="stylesheet">
	<link type="text/css" href="../css/recharge.css" rel="stylesheet">
</head>
<body class="bgcf0f0f0">
	<header>
		<div class="container">
			<img class="logo" src="http://mbpic.mblive.cn/test/logo.png">
			<ul class="nav_top">
				<li><a href="index.html">首页</a></li>
				<li><a href="recharge.html">账户充值</a></li>
				<li><a href="recruit.html">主播招募</a></li>
				<li><a href="history.html">公司历程</a></li>
			</ul>
		</div>
	</header>
	<div class="tab container">
		<span></span>账户充值-微信支付
	</div>
	<div class="wxpay container">
		<div class="view_payway">
			<img class="scan" src="http://mbpic.mblive.cn/test/wx_scan.png">
			<img class="right_arrow" src="http://mbpic.mblive.cn/test/right_arrow.png">
			<div class="pay_code">
				<p class="pay_acount">支付金额：<span>30</span> 元</p>
				<span>（为确保安全，请尽快支付）</span><br>
				<img src="http://mbpic.mblive.cn/test/gzh_code.png">
				<p>请使用微信扫描二维码进行支付</p>
			</div>
		</div>
		<a href="recharge.html"><img src="http://mbpic.mblive.cn/test/arrow-left.png">其他金额</a>
	</div>
	<footer>
		<ul>
			<li><a href="recruit.html">主播招募</a></li>
			<li><a href="agreement.html">用户协议</a></li>
			<li><a href="contact.html">联系我们</a></li>
			<li><a href="history.html">公司历程</a></li>
		</ul>
		<p>Copyright 2016 MBLive  杭州蜜播网络科技有限公司 </p>
        <p>公司地址：杭州市滨江区六合路368海创基地北楼三楼 <!--联系电话：0571-87613821--> </p>
        <p>浙ICP备16021674号-1 <img style="width:20px;height:20px;padding: 0 5px 0 10px;vertical-align: middle;margin-top: -5px;" src="http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/beian.png">浙公网安备 33010802004617号 </p>
	</footer>
	<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>