body,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,ol,p,select,td,textarea,th,ul{margin:0;padding:0}
body{font-family:'微软雅黑',Arial,Helvetica,sans-serif;font-size:16px;margin:0 auto;background-color:#eee;color:#555;-webkit-text-size-adjust:none;}
@media all and (min-width:750px){body{width:750px;margin-right:auto;margin-left:auto}}
.clearfix:after{display:table;clear:both;content:''}
h1,h2,h3,h4,h5,h6{font-weight:400}
a{display:block;text-decoration:none}
a,article,div,h1,h2,h3,h4,h5,h6,input,p,section,select,span,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input{-webkit-appearance:none}
input,select,textarea{font-family:'微软雅黑',Arial,Helvetica,sans-serif;outline:0}
li,ul{list-style:none}
.dw{
	display: block;
	width: 100%;
}
.relative{
	position: relative;
}
.more{
	position: absolute;
	bottom: -58px;
	left: 50%;
	width: 10%;
	height: 30px;
	background: url(../images/up.png) left center no-repeat;
	background-size: 100%;
	color: transparent;
	-webkit-transform: translate(-50%, 0);
	z-index: 99;
}
.more.down{
	-webkit-transform: translate(-50%, 0) rotate(180deg);
}
.m-list{
	position: absolute;
	width: 81.6%;
	height: 100%;
	top: 6px;
	left: 9.2%;
	color: #fff;
}

.m-list li{
	display: block;
	margin-bottom: 5px;
	padding: 5px 6%;
}
.hide .bg2,
.hide .m-list li:nth-child(n+4){
	display: none;
}
.m-list li:nth-child(n+4){
	background: rgba(0,0,0,.4);
}
.m-list li:nth-child(4){
	margin-top: 40%;
}
.m-list .avatar{
	float: left;
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #ffbe00;
	box-shadow: 0 0 0 0.1px #ffbe00;
}
.m-list .avatar img:first-child{
	border-radius: 50%;
	max-height:150px;
}
.m-list .avatar .tit{
	position: absolute;
	content: "";
	left: 50%;
	top: 100%;
	width: 120%;
	-webkit-transform: translate(-50%, -78%);
	z-index: 10;
}
.label_yellow,
.label_purple,
.label{
	position: absolute;
	content: "";	
	left: 50%;		
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 11;	
}
.label_yellow{
	width: 148%;
    height: 37%;
    top: 100%;
    -webkit-transform: translate(-50%, -78%);
	background-image: url(http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/labels_yellow..png);
}
.label_purple{
	width: 135%;
	height: 30%;
    top: 95%;
    -webkit-transform: translate(-50%, -78%);
	background-image: url(http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/labels_purple.png);
}
.label{
	top: 100%;
    width: 120%;
    height: 34%;
    -webkit-transform: translate(-50%, -78%);
    background-image: url(../images/labels.png);
}
.label span{
	position: absolute;
	top: 36%;
	left: 50%;
	color: #7b079c;
	width: 100%;
	font-size: 10px;
	font-size: 8px;
	line-height: 18px;
	font-style: normal;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
}
.label_1{
	background-position: 0 0;
}
.label_2{
	background-position: 0 14.28%;
}
.label_3{
	background-position: 0 28.57%;
}
.label_4{
	background-position: 0 42.85%;
}
.label_5{
	background-position: 0 57.14%;
}
.label_6{
	background-position: 0 71.42%;
}
.label_7{
	background-position: 0 85.71%;
}
.label_8{
	background-position: 0 100%;
}
.label_9{
	background-position: 0 10000%;
}
.m-list .info{
	float: left;
	margin-left: 10px;
	line-height: 24px;
}
.m-list .info h2{
	width: 100px;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	white-space:nowrap; 
}
.m-list .info .no{
	position: relative;
	font-size: 10px;	
	padding-left: 12px;
}
.icons{
	position: absolute;
	top: 50%;
	left: 0;
	width: 9px;
	height: 9px;
	background: url(../images/sex.png);
	background-size: 100%;
	-webkit-transform: translate(0, -50%);
}
.icons-female{
	background-position: 0 -100%;
}
.m-list .score{
	float: right;	
	line-height: 48px;
	font-size: 13px;
}
.m-list .score span{
	color: #f60aff;
	padding: 0 3px;
}
/* top-one */
.m-list .top{
	text-align: center;
}
.m-list .top .avatar,
.m-list .top .info,
.m-list .top .score{
	float: none;
	margin: 0 auto;
	line-height: 20px;
}
.m-list .top .info h2{
	margin-top: 4px;
	line-height: 20px;
	    margin: auto;
}
.m-list .top1 .avatar{
	width: 66px;
    height: 66px;
    border-width: 2px;
}
.m-list .top1 .avatar:after{
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	width: 73px;
	height: 73px;
	border: 1px solid #5c4855;
	-webkit-transform: translate(-50%, -50%);
	border-radius: 50%;
}
.m-list .top .avatar .tit{
	width: 148%;
	top: 99%;
}
.m-list .top .no{	
	display: inline-block;
	padding-left: 0;
	padding-right: 12px;
}
.top .icons{
	left: auto;
	right: 0;
}
/* top-2 */
.m-list .top.top2,
.m-list .top.top3{
	width: 50%;
	margin-top: -8.5%;
	padding-right: 0;
	padding-left: 0;
}
.m-list .top2 .avatar .tit,
.m-list .top3 .avatar .tit{
	width: 135%;
	top: 95%;
}
.m-list .top.top2{
	float: left;	
    margin-left: -7%;
}
.m-list .top2 .avatar,
.m-list .top3 .avatar{
	width: 58px;
    height: 58px;
    box-shadow: 0 0 0 0.5px #ffbe00;
}
/* top-3 */
.m-list .top.top3{
	float: right;
	margin-right: -7%;
}
@media all and (max-width:415px){
	.m-list .avatar img:first-child{
		max-height:75px;
	}
}
@media all and (min-width:400px){
	.m-list .top1 .avatar {
	    width: 70px;
	    height: 70px;
	}
	.m-list .top2 .avatar, 
	.m-list .top3 .avatar {
	    width: 62px;
	    height: 62px;
	}
	.m-list .top.top2, 
	.m-list .top.top3{
		margin-top: -9%;
	}
	.m-list .avatar{
		width: 52px;
		height: 52px;
	}
	.m-list .info h2{
		line-height: 28px;
		white-space:nowrap; 
	}
	.m-list .top .avatar,
	.m-list .top .info,
	.m-list .top .score{
		line-height: 24px;
	}
	.m-list .top .info h2{
		line-height: 24px;
		    margin: auto;
	}
}
@media all and (max-width:370px){
	.m-list .avatar{
		width: 44px;
		height: 44px;
	}
}
@media all and (max-width:360px){
	.m-list{
		top: 10px;
	}
	.m-list .top1 .avatar {
	    width: 62px;
	    height: 62px;
	}
	.m-list .top2 .avatar, .m-list .top3 .avatar {
	    width: 52px;
	    height: 52px;
	}
	.m-list .avatar{
		width: 40px;
		height: 40px;
	}
	.m-list .info h2,.m-list .score{
		font-size: 12px;

	}
	.m-list li{
		margin-bottom: 3px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.m-list .top.top2, .m-list .top.top3{
		margin-top: -8%;
	}
	.more{
		bottom: -54px;
	}
}
@media all and (max-width:340px){
	.m-list li {
	    margin-bottom: 1px;
	    padding-top: 2px;
	    padding-bottom: 2px;
	}
	.m-list .top .info h2{
		line-height: 18px;
		    margin: auto;
	}
	.more{
		bottom: -50px;
	}
}
@media all and (max-width:330px){
	.m-list .top.top2, .m-list .top.top3{
		margin-top: -10%;
	}
	.m-list .top .avatar, .m-list .top .info, .m-list .top .score{
		line-height: 18px;
	}
}
.m-instr .wrap{
	position: absolute;
	top: 32.5%;
	width: 100%;
}
.m-list2{
	width: 75%;
	margin: 0 auto;
	font-size: 12px;
	line-height: 16px;
	color: #544972;
}
.halloween{
	color: #fff;
}
.m-list2 li{
	margin-bottom: 5px;
}
.m-list2 li h2{
	position: relative;
	color: #23255e;
	font-size: 12px;
}
.halloween li h2{
	color: #fff;
}
@media all and (max-width:400px) and (min-width:350px){
	.m-list2{
		font-size: 12px;
		line-height: 14px;
	}
	.m-list2 li{
		margin-bottom: 15px;
	}
	.m-list2 li h2{
		font-size: 12px;
	}
}
@media all and (min-width:360px){
	.m-instr .wrap{
		top: 32%;
	}
	.m-list2 li{
		margin-bottom: 10px;
	}
}
@media all and (max-width:349px){
	.m-instr .wrap{
		top: 33%;
	}
	.m-list2{
		font-size: 10px;
		line-height: 14px;
	}
	.m-list2 li{
		margin-bottom: 6px;
	}
	.m-list2 li h2{
		font-size: 10px;
		position: relative;
	}
}
@media all and (max-width:326px){
	.m-instr .wrap{
		top: 31.2%;
	}
	.m-list2{
		line-height: 12px;
	}
	.m-list2 li{
		margin-bottom: 8px;
	}
	.m-list .info{
		margin-left: 5px;
	}
	
}
/* 750大屏 */
@media all and (min-width:750px){
	.m-list li{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.m-list .avatar{
		width: 90px;
		height: 90px;
		border-width: 2px;
	}
	.m-list .info{
		margin-left: 20px;
	}
	.m-list .info h2{
		white-space:nowrap; 
		width: 100px;
		font-size: 26px;
		white-space:nowrap; 
		line-height: 48px;
	}
	.m-list .info .no{
		margin-top: 18px;
		font-size: 20px;
	}
	.m-list .score{
		line-height: 94px;
		font-size: 22px;
	}
	.m-list .score span{
		padding: 0 6px;
	}
	.m-list li:nth-child(4){
		margin-top: 45%;
	}
	.more{
		bottom: -92px;
	}
	.m-list .top1 .avatar{
		width: 130px;
		height: 130px;
		border-width: 3px;
	}
	.m-list .top1 .avatar:after{
		width: 144px;
		height: 144px;
		border-width: 3px;
	}
	.m-list .top .info h2{
		line-height: 36px;
		margin-top: 10px;
		    margin: auto;
	}
	.m-list .top .info .no{
		margin-top: 0;
		line-height: 36px;
		margin-bottom: 6px;
	}
	.m-list .top2 .avatar, .m-list .top3 .avatar{
		width: 116px;
		height: 116px;
	}
	.m-list .top.top2, .m-list .top.top3 {
	    margin-top: -7%;
	}
	.m-list{
		top: 24px;
	}
	.m-list2{
		font-size: 24px;
		line-height: 30px;
	}
	.m-list2 li h2{
		font-size: 24px;
	}
	.label span{
		font-size: 16px;
	}
}
.halloween img{
	width: 4%;
	padding: 0 1%; 
}
.close-advertisement ~*{
	display: none;
}