
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>蜜播-热门直播</title>
    <link rel="stylesheet" href="css/weixin/style.css">
    <link rel="stylesheet" type="text/css" href="css/weixin/livingshare.css" />
    <script src="js/component/pop.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/js/jquery-2.0.3.min.js"></script>
    <style type="text/css">
        #removeAd ~*{
                display: none;
        }
        .center{
            padding-top: 10px;
        }
        .center .center-title{
            margin-top: 0;
        }
        .mask{
            left: 0;
            right: 0;
        }
    </style>
</head>
<body class="p-direct">
    <!-- center 其他热门主播-->
    <div class="oanchor">
    </div>
    <!-- (前端模板) ……观看-->
    <script type="text/template" id="OtherAnchor-template">
        <div class="center">
            <ul class="center-anchor">
                <% _.each(list,function(obj){ %>
                    <% var url = obj.url;
                    url = obj.flag == 0?'javascript:;':url;   
                    var sWidth = document.documentElement.clientWidth;
                    sWidth = sWidth>640?640:sWidth
                    var width = Math.ceil(sWidth/3)+'px';
                 if(obj.pull_hls_url==''&&obj.pull_rtmp_url==''&&obj.push_url==''){%>
                        <li onclick="javascript:popInfo('哎呀，找不到播放地址了',1);">
                    <%}else{ %> 
                        <li onclick="location.href='<%= url %>'">
                    <% } %>
                    <img class="other-anchor" src="<%= obj.pic %>"><a>LIVE</a>
                    <p class="look-number"><img src="https://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/观看.png"><span class="person_count"><%= obj.living_num %></span><span>人</span></p>
                    <p class="look-mack"></p>
                    <p class="nick-name" style="color: #505050; font-size: 16px;"><%= obj.nick_name %></p>
                </li>
                <% }) %>
            </ul>
        </div>
    </script>
    <header class="top">     
        <div class="mask">
            <img class="logo" src="https://oss-cn-hangzhou.aliyuncs.com/mblive/meibo-test/logo.png">
            <div class="platform-info"> 
                <p>蜜播</p>
                <p>来蜜播，从这看世界！</p>
                <a href="https://a.app.qq.com/o/simple.jsp?pkgname=com.mb.mibo" style="outline:none;" id="J-call-app" class="label">立即下载</a>
                 <input id="J-download-app" type="hidden" name="storeurl" value="https://a.app.qq.com/o/simple.jsp?pkgname=com.mb.mibo">
            </div>
        </div>
    </header>

    <script src="https://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/js/jquery-2.0.3.min.js"></script>
    <script src="https://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/js/backbone_underscore.js"></script>

     <script type="text/javascript">
        $(function(){
            //热门主播的模板
            var OtherAnchor = Backbone.Model.extend({
                defaults:{
                    image:""
                }
            });
            //热门主播的集合
            var OtherAnchorC = Backbone.Collection.extend({
                model:OtherAnchor,
                url:"/mbliving/livingnewst"
            });

            var otherAnchor = new OtherAnchorC();

            //热门主播
            var V2 = Backbone.View.extend({
                template:_.template($("#OtherAnchor-template").html()),
                render:function() {
                    Model = {
                        list:this.model
                    };
                    templates = this.template(Model);
                    this.$el.html(templates);
                    return this;
                }
            });

            var Vi = Backbone.View.extend({
                el:$("body"),
                initialize:function() {
                    this.listenTo(otherAnchor);
                    otherAnchor.fetch({
                        method:"post",
                        success:function(model, data) {
                            OtherAnchor = data.living_info_list;
                            view2 = new V2({
                                model:OtherAnchor
                            });
                            this.$(".oanchor").append(view2.render().el);
                        }
                    });
                }
            });
            var app11 = new Vi();
        })
     </script>
     <!-- 微信分享接口 -->
    <script type="text/javascript">
        var us = this.location.href;
        var living_id_1 = lookup("living_id");
        var user_id_1 = lookup("user_id");
        var app_id_1 = lookup("app_id");
        function lookup(x){
             var index1 = us.indexOf(x);
             var index = x.length;
             var index_1 = us.indexOf("&",index1);
             if(index_1 == -1)
             {
                 index_1 = us.length;
             }
             var index1s = us.substring(index1+index+1,index_1);
             return index1s;
        }

        function isWeiXin(){
            var ua = window.navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i) == 'micromessenger'){
                return true;
            }else{
                return false;
            }
        }
       if(isWeiXin()){
            //alert("weixin");
            ////获取分享信息
            var share = {};
            //alert(window.location.href);
            //var urlArr = window.location.href.split('?');
            $.ajax({
                url: '/mbliving/wechatshareinfo',
                type: 'post',
                data: {
                    living_id:living_id_1,
                    url: window.location.href
                },
                async: false,
                success: function(data){
                    var data = data&&JSON.parse(data);
                    share.sign = data.sign;
                    share.content = data.content;
                    share.link = data.link;
                    share.pic = data.pic;
                    share.title = data.title;
                    //alert(JSON.stringify(share));
                },
                error:function(error){
                    alert("error");
                }
            });
            wx.config({
                debug: false,
                appId: "wx19f6ec4aec39c380",
                timestamp: 1455695941,
                nonceStr: "meiyuanduo2jd2oDGFERETRE",
                signature: share.sign,
                jsApiList: [
                "onMenuShareTimeline",
                "onMenuShareAppMessage",
                "onMenuShareQQ",
                "onMenuShareWeibo",
                "onMenuShareQZone",
                "openLocation",
                "getLocation"
            ]
            });
            wx.ready(function(){
            //alert("ready");
                wx.onMenuShareTimeline({
                    title: share.title, // 分享标题
                    link: share.link, // 分享链接
                    imgUrl: share.pic, // 分享图标
                    success: function () {
                        //alert("分享朋友圈ok");
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                        //alert("取消分享朋友圈ok");
                    }
                });
                wx.onMenuShareAppMessage({
                    title: share.title, // 分享标题
                    desc: share.content, // 分享描述
                    link: share.link, // 分享链接
                    imgUrl: share.pic, // 分享图标
                    type: "", // 分享类型,music、video或link，不填默认为link
                    dataUrl: "", // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                        // alert("ffffffff");
                    }
                });
                wx.onMenuShareQQ({
                    title: share.title, // 分享标题
                    desc: share.content, // 分享描述
                    link: share.link, // 分享链接
                    imgUrl: share.pic, // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            });
            wx.error(function(res){
                //alert(res);
                //alert(res.errMsg);

            });
        }else{
            //alert("not weixin");
        }   
    </script>
    <div id="removeAd"></div>
</body>
</html>