
        body,p {
            margin: 0;
            padding: 0;
            font-size:62.5%;
            font-family: "微软雅黑";
        }
        .section1 {
            height: 100%;
            width:100%;
        }
        .bg{
        	position: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 110%;
            width:110%;
			z-index: 0;
            -webkit-animation:mymove 5s infinite;
            animation:mymove 5s infinite;
            -ms-animation:mymove 5s infinite;     /* IE 9 */
            -moz-animation:mymove 5s infinite;   /* Firefox */
            -webkit-animation:mymove 5s infinite; /* Safari 和 Chrome */
            -o-animation:mymove 5s infinite;
        }
        @-webkit-keyframes mymove /*Safari and Chrome*/
        {
            from {
	    	transform:scale(1.2);
		}
            to {
	    	transform:scale(1);
	    	}
        }
	@-moz-keyframes mymove{
	    from {
	    	transform:scale(1.2);
		}
            to {
	    	transform:scale(1);
	    	}
	}
	@-ms-keyframes mymove{
	    from {
	    	transform:scale(1.2);
		}
            to {
	    	transform:scale(1);
	    	}
	}
	@-o-keyframes mymove{
	    from {
	    	transform:scale(1.2);
		}
            to {
	    	transform:scale(1);
	    	}
	}

        .bg1{
            background-image: url("http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/gw-bg1.jpg");
        }
        .bg2{
            background-image: url("http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/gw-bg2.jpg");
            display: none;
        }
        .bg3{
            background-image: url("http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/gw-bg3.jpg");
            display: none;
        }
 
        .mask{
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-image: url("http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/mask_bg.png");
        }
        /* logo 和充值部分*/
        header{
            position: fixed; 
            z-index: 90;
            width: 100%;
            height: 100%;
        }
        .logo{
            display: inline-block;
            width: 10.208%;
            position: absolute;
            left: 4.6875%;
            top: 3.125%;
        }
        .logo img{
            width: 100%;
        }
        .Recharge{
            display: inline-block;
            float: right;
            margin-top: 3.125%;
            margin-right: 4.6875%;
            vertical-align: middle;
            color: #fff;
            background-color: rgba(255,255,255,0.3);
            padding: 0 1.52625%;
            cursor: pointer;
        }
        .Recruit{
            display: inline-block;
            float: right;
            margin-top: 3.125%;
            margin-right: 4.6875%;
            vertical-align: middle;
            color: #fff;
            background-color: rgba(255,255,255,0.3);
            padding: 0 1.52625%;
            cursor: pointer;
        }
        /* 第一页  */
        .content{
            position: fixed;
            left: 50%;
            top: 50%;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);     /* IE 9 */
            -moz-transform:translate(-50%,-50%);    /* Firefox */
            -o-transform:translate(-50%,-50%); 
            text-align: center;
            width: 34.2%;
            z-index: 100;
            filter:alpha(opacity=1);
            opacity:1;
	    z-index:9999;
        }
        .content .title{
            margin-bottom: 15.2207%;
        }
        .content .title img{
            width: 82.2%;
        }
        .content .download{
            display: inline-block;
            float: left;
            margin-right: 16.74%;
	    opacity:0.8;
        }
	.content .download img:hover{
		opacity:0.8;
	}
        .content .download img{
            display:block;
            margin-bottom: 10.08%;
	    opacity:0.6;
        }
        .content .erm{
            padding-top: 3.805%;
        }
        .content .erm img{
            display: inline-block;
            float: left;
            width: 36.53%;
        }
        .next{
            position: absolute;
            left: 50%;
            bottom: 0;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);     /* IE 9 */
            -moz-transform:translate(-50%,-50%);    /* Firefox */
            -o-transform:translate(-50%,-50%); 
        }

        .led{
            position: absolute;
            left: 50%;
            bottom: 30px;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);     /* IE 9 */
            -moz-transform:translate(-50%,-50%);    /* Firefox */
            -o-transform:translate(-50%,-50%); 
            animation:myfirst 1.5s infinite;
            -moz-animation:myfirst 1.5s infinite; /* Firefox */
            -webkit-animation:myfirst 1.5s infinite; /* Safari and Chrome */
            -o-animation:myfirst 1.5s infinite; /* Opera */
            opacity: 0.6;
        }

        @keyframes myfirst
        {
            from {bottom: 30px;}
            to {bottom: 10px;}
        }

        @-moz-keyframes myfirst /* Firefox */
        {
            from {bottom: 30px;}
            to {bottom: 10px;}
        }

        @-webkit-keyframes myfirst /* Safari and Chrome */
        {
            from {bottom: 30px;}
            to {bottom: 10px;}
        }

            @-o-keyframes myfirst /* Opera */
        {
            from {bottom: 30px;}
            to {bottom: 10px;}
        }

        /* 第二页  */
        .content1{
            position: fixed;
            left: 50%;
            bottom: -20%;
            -webkit-transform:translate(-50%,0);
            transform:translate(-50%,0);
            -ms-transform:translate(-50%,0);     /* IE 9 */
            -moz-transform:translate(-50%,0);    /* Firefox */
            -o-transform:translate(-50%,0); 
            width: 64%;
            height: 100%;
            z-index: 100;
            filter:alpha(opacity=0);
            opacity:0;
        }
        
        
        .content1 .cellphone{
            position: absolute;
            bottom: 0;
        }

        .content1 .cellphone .rw{
            position: absolute;
            top:13.84375%;
            left: 6.8%;
            filter:alpha(opacity=1);
            opacity:1;
            z-index: 66666;
        }
        .content1 .cellphone .rw img{
            
        }

        .text{
            position: fixed;
            top:37%;
            left:50%;
        }
        .tit{
            padding-left: 150px;
            display: block; 
        }
        .text .title{
            filter:alpha(opacity=0);
            opacity:0;
        }
        .text .title1{
            padding-top: 60px;
            padding-bottom: 40px;
            filter:alpha(opacity=0);
            opacity:0;
        }
        .text .title2{
            padding-bottom: 60px;
            filter:alpha(opacity=0);
            opacity:0;
        }
        .text .title3{
            filter:alpha(opacity=0);
            opacity:0;
        }


        /* 第四页  */
        .page4-content{
            position: fixed;
            left: 50%;
            top: 40%;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);     /* IE 9 */
            -moz-transform:translate(-50%,-50%);    /* Firefox */
            -o-transform:translate(-50%,-50%); 
            text-align: center;
            filter:alpha(opacity=0);
            opacity:0;
            width: 65%;
            z-index: 100;
        }
        .page4-erm{
            margin-bottom: 5.2207%;
        }
        .page4-erm img{
            width: 23.3%;
            
        }
	.page4-download img:hover{
		opacity: 0.8;
	}
        .page4-download img{
            width: 26.5%;
	    opacity: 0.6;
        }
 
        footer{
            position: fixed;
            left: 50%;
            bottom: -20%;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);     /* IE 9 */
            -moz-transform:translate(-50%,-50%);    /* Firefox */
            -o-transform:translate(-50%,-50%); 
            text-align: center;
			filter:alpha(opacity=0);
            opacity:0;
            z-index: 999;
        }
        footer p{
            color: #fff;
        }
        footer ul{
            color: #fff;
            list-style-type: none;
            -webkit-transform:translate(-5%,0);
            transform:translate(-5%,0);
            -ms-transform:translate(-5%,0);     /* IE 9 */
            -moz-transform:translate(-5%,0);    /* Firefox */
            -o-transform:translate(-5%,0); 
            cursor:pointer;
        }
        footer ul li{
            border-right: 1px solid #fff;
            display: inline;
            padding: 0 20px;
            margin-bottom:10px; 
        }

        /* 自定义导航 */
        #menu{ 
            position: fixed; 
            top: 50%; 
            margin-top: -1.6666%;
            z-index: 100;
        }  
        #menu.right{ 
            right: 4.6875%;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);     /* IE 9 */
            -moz-transform:translate(-50%,-50%);    /* Firefox */
            -o-transform:translate(-50%,-50%); 
        }  
        #menu ul li{ 
            width: 10px; 
            height: 10px; 
            background: url(http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/nav1.png) no-repeat; 
            margin:20px auto;
            list-style-type: none;
        }  
        #menu ul li a{ 
            width: 10px; 
            height: 10px; 
            display: block;
        }  
        #menu ul .page1{ 
            background-image: url(http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/nav2.png); 
            width: 20px; 
            height: 20px; 
        }  

        /* 联系我们 */
        .contact{
            position: fixed;
            width: 62.5%;
            height: 62%;
            left: 50%;
            top: 50%;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);     /* IE 9 */
            -moz-transform:translate(-50%,-50%);    /* Firefox */
            -o-transform:translate(-50%,-50%); 
            background-color: #fff;
            z-index: 999999;
            border-radius: 20px;
            display: none;
        }
        .contact  .iofo{
            position:relative;
            width: 50%;
            height: 100%;
            display: inline-block; 
            float: left;
        }
        .iofoCon{
            position: absolute;
            padding-left: 19.6%;
            top: 50%;
            width: 100%;
            -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
            -ms-transform:translate(0,-50%);     /* IE 9 */
            -moz-transform:translate(0,-50%);    /* Firefox */
            -o-transform:translate(0,-50%); 
        }
        .iofoCon h1{
            padding:20px 0;
        }
        .iofoCon p{
            padding-left: 6%;
        }
        .iofoCon .p1{
            padding-bottom: 5%;
        }
        .contact  .code{
            position:relative;
            width: 50%;
            height: 100%;
            float:left;
            display:inline-block;
            font-weight:bold; 
            text-align: center;
        }
        .codeCon{
            position: absolute;
            width: 100%;
            top: 55%;
            -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
            -ms-transform:translate(0,-50%);     /* IE 9 */
            -moz-transform:translate(0,-50%);    /* Firefox */
            -o-transform:translate(0,-50%); 
        }
        .contact  .code img{
            width:50%;
            padding-bottom: 9.09%
        }
        .contact .close{
            position: absolute;
            left: 100%;
            top: -8%;
        }
	   .contact .close a img{
            transform: rotate(0deg);
            -webkit-transform:rotate(0deg);
            -ms-transform:rotate(0deg);    
            -moz-transform:rotate(0deg); 
            -o-transform:rotate(0deg);
            transition:all 0.5s ease-out;
            -webkit-transition:all 0.5s ease-out;
            -ms-transition:all 0.5s ease-out;  
            -moz-transition:all 0.5s ease-out;
            -o-transition:all 0.5s ease-out;
        }
        .contact .close a:hover img{
            transform: rotate(180deg);
            -webkit-transform:rotate(180deg);
            -ms-transform:rotate(180deg);    IE 9
            -moz-transform:rotate(180deg);  Firefox
            -o-transform:rotate(180deg);
        }



        /* 用户协议 */
        .protocol{
            position: fixed;
            width: 58.3%;
            height: 52.8%;
            min-height: 52.8%;
            left: 50%;
            top: 50%;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);     /* IE 9 */
            -moz-transform:translate(-50%,-50%);    /* Firefox */
            -o-transform:translate(-50%,-50%); 
            background-color: #fff;
            z-index: 999999;
            border-radius: 20px;
            border-top: 30px solid #fff;
            border-bottom: 40px solid #fff;
            padding-left: 40px;
            padding-right:40px; 
	    filter:alpha(opacity=0);
            opacity:0;
        }
        .protocol-iofo{
            width: 100%;
            height: 100%;
            overflow-y:auto;
            overflow-x: hidden;
            border-radius: 20px;
            padding-right:20px;
        }
        .protocol h1{
            text-align: center;
            color: #1ddf86;
            font-size: 30px;
        }
        .protocol h2{
            font-size: 30px;
        }
        .protocol p{
            font-size: 20px;
            padding-bottom: 20px;
            padding-left:20px;
            color: #8f9090;
        }
        .protocol .p1{
            padding-bottom: 0;
        }
        .protocol .p2{
            color: #000;
        }
        .protocol .close{
            position: absolute;
            left: 100%;
            top: -15%;
        }
	    .protocol .contact .close a img{
            transform: rotate(0deg);
            -webkit-transform:rotate(0deg);
            -ms-transform:rotate(0deg);    
            -moz-transform:rotate(0deg); 
            -o-transform:rotate(0deg);
            transition:all 0.5s ease-out;
            -webkit-transition:all 0.5s ease-out;
            -ms-transition:all 0.5s ease-out;  
            -moz-transition:all 0.5s ease-out;
            -o-transition:all 0.5s ease-out;
        }
        .protocol .contact .close a:hover img{
            transform: rotate(180deg);
            -webkit-transform:rotate(180deg);
            -ms-transform:rotate(180deg);    IE 9
            -moz-transform:rotate(180deg);  Firefox
            -o-transform:rotate(180deg);
        }

        /* 用户充值 */
        .user-Recharge-login{
            position: fixed;
            width: 62.5%;
            height: 46.6%;
            min-width: 900px;
            min-height: 400px;
            left: 50%;
            top: 50%;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);     /* IE 9 */
            -moz-transform:translate(-50%,-50%);    /* Firefox */
            -o-transform:translate(-50%,-50%); 
            background-color: #fff;
            z-index: 999999;
            border-radius: 20px;
            text-align: center;
            display: none;
        }
        .user-Recharge-login h1{
            padding-top:40px;
            padding-bottom:44px;  
            font-size:46px;
            color: #787878;
	    font-weight: inherit;
        }
        .clearfix:after{display:table;clear:both;content:''}
        .user-Recharge-login .ipt{
            margin: 0 auto 25px;
            width: 450px;
        }
        .user-Recharge-login .mibo-id{
            width: 98%;
            padding-left: 2%;
            height: 50px;
            line-height: 50px;
            border-radius: 10px;
            border: 1px solid #a7a7a7;
            font-size: 26px;
        }
        .user-Recharge-login .ipt-code .code{
            position: relative;
            float: right;
            width: 46%;
            height: 50px;
            padding: 3px 0;
            line-height: 56px;
            border-radius: 10px;
            background-color: #fff;
            cursor: pointer;
            border: 1px solid #a7a7a7;
        }
        .user-Recharge-login .ipt-code .code .refresh{
                position: absolute;
                right: 10%;
                top: 50%;
                display: block;
                width: 24px;
                height: 24px;
                margin-top: -12px;
        }
        .user-Recharge-login .ipt-code .mibo-id{
            float: left;
            width: 44%;
        }
	.user-Recharge-login .mibo-id:focus{
           outline:none;
        }
        input::-webkit-input-placeholder { font-size: 26px; }
        input::-moz-placeholder { font-size: 26px; } /* firefox 19+ */
        input::-ms-input-placeholder {  font-size: 26px;} /* ie */
        input::-moz-placeholder {font-size: 26px;  }


        .user-Recharge-login .login{
            display: block;
            margin: 0 auto;
            height: 56px;
            color: #fff;
            line-height: 56px;
            border-radius: 10px;
            font-size:26px;
            width: 452px;
            background-color: #6ffabc;
            text-decoration: none;
        }
        .user-Recharge-login .login_error_msg{
            color: red;
            font-size: 14px;
            line-height: 22px;
            margin: 10px auto;
        }
        .close{
            position: absolute;
            left: 100%;
            top: -10%;
        }
 	.close a img{
        transform: rotate(0deg);
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);    
        -moz-transform:rotate(0deg); 
        -o-transform:rotate(0deg);
	 	transition:all 0.5s ease-out;
        -webkit-transition:all 0.5s ease-out;
        -ms-transition:all 0.5s ease-out;  
        -moz-transition:all 0.5s ease-out;
        -o-transition:all 0.5s ease-out;
	 }
        .close a:hover img{
            transform: rotate(180deg);
            -webkit-transform:rotate(180deg);
            -ms-transform:rotate(180deg);    IE 9
            -moz-transform:rotate(180deg);  Firefox
            -o-transform:rotate(180deg);
        }

        /* 用户充值2 */
        .user-Recharge-list{
            position: fixed;
            width: 40%;
            min-width: 686px;
            height: 43%;
            min-height:408px;
            left: 50%;
            top: 50%;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);     /* IE 9 */
            -moz-transform:translate(-50%,-50%);    /* Firefox */
            -o-transform:translate(-50%,-50%); 
            background-color: #fff;
            z-index: 99999;
            border-radius: 20px;
            padding: 1.5%;
            display: none;
        }
        .user-Recharge-list .header{
             position: relative;
             width: 50%;
             height: 100%;
             float: left;
        }
        .user-Recharge-list .header p{
             font-size: 28px;
        }
        .user-Recharge-list .header .rw-photo{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            display: block;
            margin: 0 auto;
            border: 1.5px solid #66eaad;
            margin-top: 20px; 
            margin-bottom: 10px; 
        }
        .user-Recharge-list .header .rw-photo img{
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        .user-Recharge-list .header .rw-info{
            position: relative;
            color:#3a3a3a;
            line-height: 30px;
            padding-top: 2px;
            text-align: center;
        }
        .user-Recharge-list .header .name{
            font-size: 22px;
        }
        .user-Recharge-list .header .id{
            font-size: 22px;
        }
        .user-Recharge-list .header .rw-info a{
            font-size: 20px;
            color: #ff9710;
            text-decoration: none;
        }

        .line{
            position: absolute;
            top: 60%;
            -webkit-transform: translate(0, -50%);
            transform:translate(0, -50%);
            -ms-transform:translate(0, -50%);    /* IE 9 */
            -moz-transform:translate(0, -50%); /* Firefox */
            -o-transform:translate(0, -50%);
            height: 300px;
            width: 1px;
        }
        .line img{
            width: 100%;
            height: 100%;
        }
        
        .recharge-mode a{
            padding: 10px 20px;
            margin-right:20px; 
            font-size: 20px;
            border: 1px solid #a7a7a7;
            border-radius: 50px;
            color: #a7a7a7;
            text-decoration: none;
        }
        .recharge-mode .zfb{
            padding:10px 30px;
        }
        .recharge-mode a:hover,.recharge-mode a.active{
            color:#ff9710;
            border: 1px solid #ff9710;
        }
        
        .user-Recharge-listheader .header .login{
            position: absolute;
            right: 4.5%;
            top: 50%;
            height: 24px;
            -webkit-transform: translate(0, -50%);
            transform:translate(0, -50%);
            -ms-transform:translate(0, -50%);    /* IE 9 */
            -moz-transform:translate(0, -50%); /* Firefox */
            -o-transform:translate(0, -50%);
            -webkit-appearance:none;
            appearance:none;
            -ms-appearance:none;   /* IE 9 */
            -moz-appearance:none; /* Firefox */
            -o--appearance:none;
            border: 1px solid #74fabe;
            color: #74fabe;
            background-color: #fff;
            border-radius: 12px;
            font-size: 12px;
            padding: 0 10px;
        }
        .interval{
            height: 35px;
            line-height: 35px;
            background-color: #eee;
            color: #a7a7a7;
        }
        .interval span{
            padding-left: 5.5%;
            font-size: 14px;
        }

        .withdraw-money{
            width: 50%;
            float: left;
            position: relative;
            
        }
        .withdraw-money ul{
            list-style-type: none;
            width: 80%;
            min-height: 302px;
            max-height: 302px;
        }
        .withdraw-money ul li{
            height: 40px;
            line-height: 40px;
            border: 1px solid #b3b4b4;
            margin-bottom:10px; 
            border-radius: 10px;
        }
        .withdraw-money ul li.active{
            border: 1px solid #ff9710;
        }
        .withdraw-money ul li label{
            display: block;
        }
        .withdraw-money ul li .number{
            position: relative;
            margin-left: 4.5%;
            padding-left: 26px;
            display: inline-block;
            font-size: 16px;
            color: #ff9710;
        }
        .withdraw-money ul li .number:after{
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            width: 20px;
            height: 20px;
            background: url("http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/bean.png");
            background-size: 100%;
            -webkit-transform: translate(0,-50%);
	       transform:translate(0, -50%);
            -ms-transform:translate(0, -50%);    /* IE 9 */
            -moz-transform:translate(0, -50%); /* Firefox */
            -o-transform:translate(0, -50%);
        }
        .withdraw-money ul li .number span:first-child{
            display: inline-block;
        }
        .withdraw-money ul li .number span:nth-child(2){
            color: #a7a7a7;
            font-size: 13px;
        }
        .withdraw-money ul li .money{
            display: inline-block;
            float: right;
            font-size: 16px;
            color: #ff9710;
        }
        .withdraw-money ul li .money input{
	display:none;
        }
	.withdraw-money ul li .money input+span{
		display:inline-block;
		margin: 0 15px; 
            	vertical-align: middle;
            	margin-top: -3px;
		width: 16px;
            	height: 16px;
	    	background-size: 100%;
		background-image: url("http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/choice.png");
	}
        .withdraw-money ul li .money input:checked+span{
            background-image: url("http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/choice1.png");
        }
        .submit .bg-grey{
            display: inline-block;
        }
        .btn-green{
            position: absolute;
            left: 50%;
            background-color: #87fbc7;
            color: #fff;
            border-radius: 20px;
            font-size: 20px;
            margin-top:10px;
            padding: 10px 45px;
            display: inline-block;
            -webkit-transform: translate(-50%,0);
            transform:translate(-50%, 0);
            -ms-transform:translate(-50%, 0);    /* IE 9 */
            -moz-transform:translate(-50%, 0); /* Firefox */
            -o-transform:translate(-50%, 0);
            text-decoration: none;
        }
        .mode1{
            display: inline-block;
        }
        .recharge-mode{
            width: 100%;
            text-align: center;
            padding-top: 40px;
            display: inline-block;
        }

        /* 账号充值3 */
        /* 左边 */
        .money1{
            display: none;
        }
        .money2{
            display: inline-block;
            color: #ff9710;
            font-size: 16px;
            padding-left: 10px;
            cursor: pointer;
        }
        .recharge-money{
            width: 100%;
            text-align: center;
            padding-top: 10px;
            font-size: 65px;
            color: #ff9710;
            display: none;
        }

        /* 右边 */
        /* 支付宝充值 */
        .zfb-ewm
        {
            width: 50%;
            float: left;
            position: relative;
            text-align: center;
            display: none;
        }
        .zfb-ewm p {
            font-size: 20px;
            margin: 20px 0;
        }
        .zfb-ewm .zfb-ewm-ewm{
            width: 200px;
            height: 200px;
            margin: 0 auto;
            border: 5px solid #ff9710;
            border-radius: 5px;
        }
        .zfb-ewm .zfb-ewm-ewm img{
            width: 100%;
            height: 100%;
        }
        .zfb-ewm a{
            padding: 5px 20px;
            background-color: #b7fdde;
            color: #a7a7a7;
            font-size: 22px;
            border-radius: 20px;
            margin-top: 30px;
            cursor: pointer;
        }

        /* 网银充值 */
        .wy-ewm
        {
            width: 50%;
            float: left;
            position: relative;
            text-align: center;
            display: none;
        }
        .wy-ewm .wy-ewm-ewm{
            margin: 0 auto;
            width: 260px;
            height: 180px;
            padding-top: 50px; 
            padding-bottom: 80px; 
        }
        .wy-ewm .wy-ewm-ewm img{
            width: 100%;
            height: 100%;
        }
        .wy-ewm  a{
            padding: 5px 30px;
            background-color: #6ffabc;
            color: #fff;
            font-size: 22px;
            border-radius: 20px;
            margin-top: 30px;
            cursor: pointer;
        }

        /* 支付成功 */
        .pay-success{
            width: 50%;
            float: left;
            position: relative;
            text-align: center;
            display: none;
        }
        .pay-success .pay-success-img{
            padding-top: 100px; 
            padding-bottom: 30px; 
        }
        .pay-success h1{
            color:#ff9710;
            font-size:50px;
            font-weight:normal;
        }


        /* 滚动条 */
        h1 {
                margin: 0;
            }
            #scrollbar {
                margin:10px auto;
            }
            #scrollbar .scrollbar {
                position: relative;
                background-position: 0 0;
                float: right;
                width: 8px;
            }
            #scrollbar .viewport {
                height: 200px;
                overflow: hidden;
                position: relative;
            }
            #scrollbar .track {
                background: #a7a7a7;
                height: 100%;
                width: 8px;
                position: relative;
                border-radius: 10px;
            }
            #scrollbar .thumb {
                background: #666;
                height: 20px;
                width: 8px;
                cursor: pointer;
                overflow: hidden;
                position: absolute;
                top: 0;
                border-radius: 10px;
            }
            #scrollbar .viewport {
                width: 95%;
                height: 200px;
                overflow: hidden;
                position: relative;
            }
            #scrollbar .overview {
                list-style: none;
                position: absolute;
                left: 0;
                top: 0;
                padding: 0;
                margin: 0;
            }
            #scrollbar2 {
                margin: 10px auto;
                width: 520px;
            }
            #scrollbar2 .scrollbar {
                clear: both;
                height: 8px;
                margin: 0 0 5px;
                position: relative;
                background:#ccc;
            }
            #scrollbar2 .track {
                background:#ccc;
                height: 8x;
                position: relative;
                width: 100%;
            }
            #scrollbar2 .thumb {
                background:#CC0071;
                cursor: pointer;
                height: 8px;
                left: 0;
                overflow: hidden;
                position: absolute;
            }
            #scrollbar2 .viewport {
                height: 125px;
                overflow: hidden;
                position: relative;
                width: 520px;
            }
            #scrollbar2 .overview {
                left: 0;
                list-style: none outside none;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 0;
                width: 3000px;
            }
