html,body{
	margin: 0;
	padding: 0;
}
@media all and (min-width:450px){
	body{width:450px;margin-right:auto;margin-left:auto}
}
.wrap{
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #e6e6e6;
}

.content{
	width: 100%;
	padding: 10px 0;
}
.content .hint{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
}
.address{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #fff;
	margin:1px 0;
}
.address span{
	display: inline-block;
	padding-left: 30px;
}
.address input{
	border:0px solid #fff;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	outline:none;
	width: 60%;
}
.save{
	width: 60%;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	background-color: #ffbe00;
	margin-top: 30px;
	border-radius: 20px;
	text-align: center;
	color:#fff;
}
@media (max-width:440px){
	.address input{
		height: 24px;
		line-height: 24px;
		font-size: 14px;
	}
}
@media (max-width:380px){
	.address input{
		height: 25px;
		line-height: 25px;
		font-size: 14px;
	}
}
@media (max-width:340px){
	.address input{
		height: 25px;
		line-height: 25px;
		font-size: 12px;
	}
}
.address1{
		position: relative;
		display: block;
		width: 100%;
		height: 100px;
		line-height: 100px;
		background-color: #fff;
		margin: 1px 0;
	}
.address1 span{
	padding-left: 30px;
	position: absolute;
	top:-30px;
}
textarea{
	width: 60%;
	height: 80%;
	border: 0px solid #fff; 
	font-size: 14px;
	margin-left: 110px;
	padding-top: 12px;
	resize: none;
}
@media (max-width:350px){
	textarea{
		font-size: 12px;
	}
}