html,body{
	margin: 0;
	padding: 0;
}
@media all and (min-width:450px){
	body{width:450px;margin-right:auto;margin-left:auto}
}
.wrap{
	font: 16px "微软雅黑";
	background-color: #e6e6e6;
}

.user-info{
    		height: 120px;
    		width: 100%;
    		background-color: #ffce00; 
}
.user-info .user-nei{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding-top: 30px;
}
.user-info .user-left{
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	border:3px solid #ffeb00;
	vertical-align: middle;
}
.user-info .user-left img{
	width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
           vertical-align:middle;
	box-shadow: 3px 5.196px 10px 0px rgba(0, 0, 0, 0.3);
}
.user-info .user-right{
	display: inline-block;
	vertical-align: middle;
	padding-left: 5%;
           width: 66%;
}
.user-info .user-right .user-right-top{
	width: 100%;

}
.user-info .user-right .user-right-top span{
	font-size: 16px;
	color: #fff;

}
@media (max-width:380px){
   	.user-info .user-right .user-right-top span{
		font-size: 14px;
	}
}
.user-info .user-right .user-right-top img{
	width: 5%;
	vertical-align: middle;
	margin-bottom: 3px;
}
@media (max-width:380px){
   	.user-info .user-right .user-right-top img{
		width: 10%;
		vertical-align: middle;
		margin-bottom: 3px;
	}
}

.user-info .user-right .user-right-bottom p{
	margin: 0; 
	font-size: 16px;
	color: #fff;
	padding-top: 10px;
}
@media (max-width:380px){
   	.user-info .user-right .user-right-bottom p{
		font-size: 14px;
	}
}


.integral-list{
	width: 100%;
	padding: 0;
}
.integral-list p{
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.integral-list li{
	    width: 50%;
	    display: block;
	    position: relative;
	    float: left;
}
.integral-list li .list-bor{
	width: 90%;
	margin: 5px auto;
	border-radius: 15px;
	overflow: hidden;
}
.integral-list li .list-left{
	width: 100%;
	text-align: center;
	padding: 10px 0;
	height: 150px;
	position: relative;
	background-color: #f5f5f5;
}

.integral-list li .list-left img{
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	/*box-shadow: 3px 5.196px 10px 0px rgba(0, 0, 0, 0.3);*/
}

.integral-list li .list-right{
	padding: 10px 30px;
	background-color: #fff;
}
@media (max-width:350px){
   	.integral-list li .list-right{
		padding: 10px 15px;
	}
}

.integral-list li .list-right .money img{
	width: 12%;
	display: inline-block;
	box-shadow: 3px 5.196px 10px 0px rgba(0, 0, 0, 0.3);
}

.integral-list li .right p{
	width: 100%;
	
}

.integral-list li .list-right .name{
	margin-top: 5px;
	font-size: 18px;
}
@media (max-width:400px){
   	.integral-list li .list-right .name{
		font-size: 14px;
	}
}

.integral-list li .list-right .money{
	font-size: 20px;
}
@media (max-width:400px){
	.integral-list li .list-right .money{
		font-size: 16px;
	}
}
.integral-list li .list-right .money span{
	color: #ffc87f;
}
.integral-list li .list-right .num{
	padding: 5px 0;
	font-size: 12px;
	color: #a6a6a6;
}
.integral-list .gift-order{
	display: none;
}
.integral-list .gift-type{
	display: none;
}
.integral-list .gift_details{
	display: none;
}


.introduce{
	position: absolute;
	width:100%;
	height: 100%;
	top: 0;
	display: none;
}
.gift_grant{
	display: none;
}
.gift_accept{
	display: none;
}
.introduce .mask{
	position: fixed;
	width:100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	z-index: 100;
}
.introduce .introduce-window{
	position: fixed;
	top: 50%;
		left: 50%;
	-webkit-transform: translate(-50%,-60%);
		-moz-transform: translate(-50%,-60%);
		-ms-transform: translate(-50%,-60%);
		-o-transform: translate(-50%,-60%);
		transform: translate(-50%,-60%);
	width:80%;
	background-color: #fff;
	z-index: 200;
	border-radius: 10px;
}
@media (max-width:325px){
	.introduce .introduce-window{
		-webkit-transform: translate(-50%,-50%) scale(0.85,0.85);
		-moz-transform: translate(-50%,-50%) scale(0.85,0.85);
		-ms-transform: translate(-50%,-50%) scale(0.85,0.85);
		-o-transform: translate(-50%,-50%) scale(0.85,0.85);
		transform: translate(-50%,-50%) scale(0.85,0.85);
	}	
}
.introduce .introduce-window .introduce-window-top .pic{
	padding-top: 10px;
	position: relative;
	height: 150px;
	background-color: #f5f5f5;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.introduce .introduce-window .introduce-window-top .pic img{
	width: 30%;
	top: 50%;
		left: 50%;
		position: absolute;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	/*box-shadow: 3px 5.196px 10px 0px rgba(0, 0, 0, 0.3);*/
}
.introduce .introduce-window p{
	padding: 0 10px;
	font-size: 10px;
}
.introduce .introduce-window p span{
	display: inline-block;
	padding-top: 5px;
	font-size: 10px;
	color: #a0a0a0;
}
.introduce .introduce-window .introduce-window-bottom{
	text-align: center;
	height: 40px;
	width: 100%;
	background-color: #ffbe00;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius:10px; 
}
.introduce .introduce-window .introduce-window-bottom a{
	line-height: 40px;
	height: 40px;
	text-decoration: none;
	color: #fff;
}
.introduce .close{
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	   -moz-transform: translate(-50%,0);
	    -ms-transform: translate(-50%,0);
	     -o-transform: translate(-50%,0);
	        transform: translate(-50%,0);
}
.introduce .close .line{
	width: 2px;
	height: 60px;
	background-color: #fff;
}
.introduce .close .close-btn{
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	   -moz-transform: translate(-50%,0);
	    -ms-transform: translate(-50%,0);
	     -o-transform: translate(-50%,0);
	        transform: translate(-50%,0);
	 width: 30px;
}
.introduce .close .close-btn img{
	width: 100%;
}

.success-hint{
		position: fixed;
		top: 50%;
		left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	height: 6%;
	width: 40%;
	text-align: center;
	border-radius: 20px;
	overflow: hidden;
	display: none;
	}
	.hint-mask{
		position: fixed;
		width: 100%;
		height: 100%;
	background-color: #000;
	opacity: 0.6;
	z-index: -1;
	border-radius: 20px;
	}
	.error-hint{
		position: fixed;
		top: 50%;
		left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	height: 6%;
	width: 40%;
	text-align: center;
	border-radius: 20px;
	overflow: hidden;
	display: none;
	}
	.success-hint p{
		white-space:nowrap;
		color: #fff;
		margin: 0;
		position: fixed;
		top: 50%;
		left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	}
	.error-hint p{
		white-space:nowrap;
		color: #fff;
		margin: 0;
		position: fixed;
		top: 50%;
		left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	}
	.fictitious-hint{
		position: absolute;
	width:100%;
	height: 100%;
	top: 0;
	display: none;
	}
	.fictitious-hint .fictitious-hint-mask{
		position: fixed;
	width:100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	z-index: 100;
	}
	.fictitious-hint-content{
		position: fixed;
		top: 50%;
		left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width:60%;
	z-index: 200;
	border-radius: 10px;
	text-align: center;
	overflow: hidden;
	}
	.fictitious-hint-top p{
		font-size: 14px;
		margin: 10px auto;
	display: inline-block;
	width: 60%;

	}
	.fictitious-hint-top .title{
		font-weight: bold;
	}
	.fictitious-hint-bottom{
	border-top: 2px solid rgba(0,0,0,0.1);
	height: 30px;
	line-height: 30px;
	color: #0068ff;
	font-weight: bold;
	}
.fictitious-hint-bottom-close{
	height: 30px;
	line-height: 30px;
	display: inline-block;
	width: 49.5%;
	float: left;
	background-color: #f5f5f5;
}
.fictitious-hint-bottom-confirm{
	    background-color: #f5f5f5;
	    display: inline-block;
	    width: 49.5%;
	    float: right;
}
.fictitious-hint-top{
	background-color: #f5f5f5;
}


.animated {
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	}

	.animated.infinite {
	  -webkit-animation-iteration-count: infinite;
	  animation-iteration-count: infinite;
	}

	.animated.hinge {
	  -webkit-animation-duration: 2s;
	  animation-duration: 2s;
	}

	.animated.flipOutX,
	.animated.flipOutY,
	.animated.bounceIn,
	.animated.bounceOut {
	  -webkit-animation-duration: .75s;
	  animation-duration: .75s;
	}
	
	@-webkit-keyframes bounceInUp {
	  from, 60%, 75%, 90%, to {
	    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	  }

	  from {
	    opacity: 0;
	    -webkit-transform: translate3d(0, 3000px, 0) translate(-50%,-60%);
	    transform: translate3d(0, 3000px, 0) translate(-50%,-60%) ;
	  }

	  60% {
	    opacity: 1;
	    -webkit-transform: translate3d(0, -50px, 0) translate(-50%,-60%);
	    transform: translate3d(0, -50px, 0 ) translate(-50%,-60%) ;
	  }

	  75% {
	    -webkit-transform: translate3d(0, 10px, 0) translate(-50%,-60%);
	    transform: translate3d(0, 10px, 0) translate(-50%,-60%);
	  }

	  90% {
	    -webkit-transform: translate3d(0, -5px, 0) translate(-50%,-60%);
	    transform: translate3d(0, -5px, 0) translate(-50%,-60%) ;
	  }

	  to {
	    -webkit-transform: translate3d(0, 0, 0) translate(-50%,-60%);
	    transform: translate3d(0, 0, 0) translate(-50%,-60%);
	  }
	}

	@keyframes bounceInUp {
	  from, 60%, 75%, 90%, to {
	    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	  }

	  from {
	    opacity: 0;
	    -webkit-transform: translate3d(0, 3000px, 0) translate(-50%,-60%);
	    transform: translate3d(0, 3000px, 0) translate(-50%,-60%);
	  }

	  60% {
	    opacity: 1;
	    -webkit-transform: translate3d(0, -20px, 0) translate(-50%,-60%);
	    transform:  translate3d(0, -20px, 0) translate(-50%,-60%);
	  }

	  75% {
	    -webkit-transform: translate3d(0, 10px, 0) translate(-50%,-60%);
	    transform: translate3d(0, 10px, 0) translate(-50%,-60%);
	  }

	  90% {
	    -webkit-transform: translate3d(0, -5px, 0) translate(-50%,-60%);
	    transform: translate3d(0, -5px, 0) translate(-50%,-60%);
	  }

	  to {
	    -webkit-transform: translate3d(0, 0, 0) translate(-50%,-60%);
	    transform: translate3d(0, 0, 0) translate(-50%,-60%);

	  }
	}
	@media (max-width:325px){
		@-webkit-keyframes bounceInUp {
		  from, 60%, 75%, 90%, to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		  }

		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 3000px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, 3000px, 0) translate(-50%,-60%) scale(0.85,0.85) ;
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: translate3d(0, -50px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, -50px, 0 ) translate(-50%,-60%) scale(0.85,0.85) ;
		  }

		  75% {
		    -webkit-transform: translate3d(0, 10px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, 10px, 0) translate(-50%,-60%) scale(0.85,0.85);
		  }

		  90% {
		    -webkit-transform: translate3d(0, -5px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, -5px, 0) translate(-50%,-60%)  scale(0.85,0.85);
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, 0, 0) translate(-50%,-60%) scale(0.85,0.85);
		  }
		}

		@keyframes bounceInUp {
		  from, 60%, 75%, 90%, to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		  }

		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 3000px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, 3000px, 0) translate(-50%,-60%) scale(0.85,0.85);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: translate3d(0, -20px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform:  translate3d(0, -20px, 0) translate(-50%,-60%) scale(0.85,0.85);
		  }

		  75% {
		    -webkit-transform: translate3d(0, 10px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, 10px, 0) translate(-50%,-60%) scale(0.85,0.85);
		  }

		  90% {
		    -webkit-transform: translate3d(0, -5px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, -5px, 0) translate(-50%,-60%) scale(0.85,0.85);
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, 0, 0) translate(-50%,-60%) scale(0.85,0.85);

		  }
		}
	}	

	.bounceInUp {
	  -webkit-animation-name: bounceInUp;
	  animation-name: bounceInUp;
	}



	@-webkit-keyframes bounceOutDown {
	  20% {
	    -webkit-transform: translate3d(0, 10px, 0) translate(-50%,-60%);
	    transform: translate3d(0, 10px, 0) translate(-50%,-60%);
	  }

	  40%, 45% {
	    opacity: 1;
	    -webkit-transform: translate3d(0, -20px, 0) translate(-50%,-60%);
	    transform: translate3d(0, -20px, 0) translate(-50%,-60%);
	  }

	  to {
	    opacity: 0;
	    -webkit-transform: translate3d(0, 2000px, 0) translate(-50%,-60%);
	    transform: translate3d(0, 2000px, 0) translate(-50%,-60%);
	  }
	}

	@keyframes bounceOutDown {
	  20% {
	    -webkit-transform: translate3d(0, 10px, 0) translate(-50%,-60%);
	    transform: translate3d(0, 10px, 0) translate(-50%,-60%); 
	  }

	  40%, 45% {
	    opacity: 1;
	    -webkit-transform: translate3d(0, -20px, 0) translate(-50%,-60%);
	    transform: translate3d(0, -20px, 0) translate(-50%,-60%); 
	  }

	  to {
	    opacity: 0;
	    -webkit-transform: translate3d(0, 2000px, 0) translate(-50%,-60%);
	    transform: translate3d(0, 2000px, 0) translate(-50%,-60%);
	  }
	}

	@media (max-width:325px){
		@-webkit-keyframes bounceOutDown {
		  20% {
		    -webkit-transform: translate3d(0, -20px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, -20px, 0) translate(-50%,-60%) scale(0.85,0.85);
		  }

		  40%, 45% {
		    opacity: 1;
		    -webkit-transform: translate3d(0, -50px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, -50px, 0) translate(-50%,-60%) scale(0.85,0.85);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 2000px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, 2000px, 0) translate(-50%,-60%) scale(0.85,0.85);
		  }
		}

		@keyframes bounceOutDown {
		  20% {
		    -webkit-transform: translate3d(0, 10px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, 10px, 0) translate(-50%,-60%) scale(0.85,0.85); 
		  }

		  40%, 45% {
		    opacity: 1;
		    -webkit-transform: translate3d(0, -20px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, -20px, 0) translate(-50%,-60%) scale(0.85,0.85); 
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 2000px, 0) translate(-50%,-60%) scale(0.85,0.85);
		    transform: translate3d(0, 2000px, 0) translate(-50%,-60%) scale(0.85,0.85);
		  }
		}
	}

	.bounceOutDown {
	  -webkit-animation-name: bounceOutDown;
	  animation-name: bounceOutDown;
	}

	.ovfHiden{overflow: hidden;height: 100%;}

