*{
    font-family:"Microsoft YaHei","微软雅黑","Microsoft JhengHei"; 
}
div,p,span,a,img,select,li,h4,button,input:focus{
    outline: none!important;
}
body {
    padding: 0;
    margin: 0;
    font-family:"Microsoft YaHei","微软雅黑","Microsoft JhengHei";
}
ul,li,h5,h6,p{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #333;
    text-decoration: none!important;
}
a:focus, a:hover,a.active{
    color: #505050;
    text-decoration: none;
}
.container{
    /*width: 60%;*/
    width: 1190px;
    min-width: 1190px;
    margin: auto;
    background: #fff;
    padding: 0px;
}
.bgcf0f0f0{
    background-color: #f0f0f0;
}
.bgcfff{
    background-color: #fff;
}
.c505050{
    color: #505050!important;
}
.ca0a0a0{
    color: #a0a0a0!important;
}
.fz12{
    font-size: 18px;
}
.fz14{
    font-size: 18px;
}
.fz16{
    font-size: 18px;
}
.fz18{
    font-size: 18px;
}
.fz20{
    font-size: 18px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}

header{
    background: #fff;
    height: 80px;
}
header img.logo{
    width: 120px;
    margin-top: 15px;
}
header ul.nav_top{
    float: right;
    font-size: 0px;
    margin-top: 30px;
}
header ul.nav_top li{
    font-size: 16px;
    display: inline-block;
    padding: 0px 15px;
    border-right: 1px solid #505050;
    line-height: 16px;
}
header ul.nav_top li:last-child{
    border-right:none;
    padding-right: 0;
}
header ul.nav_top li a{
    color: #505050;
}
header ul.nav_top li a:hover{
    color: #333;
}
footer{
    margin-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}
footer ul{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}
footer ul li{
    padding: 0 20px;
    display: inline-block;
    border-right: 1px solid #a0a0a0;
    line-height: 20px;
    font-size: 14px; 
}
footer ul li:last-child{
    border-right:none;
}
footer ul li a{
    color: #a0a0a0;
}
footer p{
    color: #a0a0a0;
    font-size: 14px;
    line-height: 20px;
}
.tab{
    margin: 30px auto;
    height: 65px;
    font-size: 20px;
    color: #505050;
    border-radius: 10px;
    line-height: 65px;
}
.tab span{
    width: 4px;
    height: 24px;
    display: inline-block;
    background: #ffbe00;
    vertical-align: sub;
    margin:0 20px;
    margin-left: 30px;
}