body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{
    margin:0;padding:0;border:0;
}
body{
    font-family:"微软雅黑",  sans-serif ;
}
ul,ol{
    list-style-type:none;
}
a{
    color: #fff;
}
a:focus, a:hover,a.active{
    color: #fff;
    text-decoration: none;
}
.section1 .bg_banner{
    width: 100%;
    height: 100%;
    position: absolute; 
}
.section1 .bg_banner1{
    background: url("http://mbpic.mblive.cn/test/index_banner1.png") no-repeat ;
    background-position: center;
    z-index:-10;
}
.section1 .bg_banner2{
    z-index:-20;
    background: url("http://mbpic.mblive.cn/test/index_banner2.png") no-repeat ;
    background-position: center;
}
.section1 .bg_banner3{
    z-index:-30;
    background: url("http://mbpic.mblive.cn/test/index_banner3.png") no-repeat ;
    background-position: center;
}
.section2 { background: url("http://mbpic.mblive.cn/test/page2_background_2.png") no-repeat ;background-position: center}
.section3 { background: url("http://mbpic.mblive.cn/test/page3_background.png") no-repeat ;background-position: center}
.section4 { background: url("http://mbpic.mblive.cn/test/page4_background.png") no-repeat ;background-position: center}

.section .skin{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
}
/*第一屏*/
.section1 .index_top img{
    width: 200px;
    margin-top: 30px;
    margin-left: 40px;
}
.section1 .index_top .index_tab{
    display: inline-block;
    float: right;
    margin-top: 40px;
    color: #fff;
    font-size: 22px;
}
.section1 .index_top .index_tab a:last-child{
    margin-right: 40px;
}
.section1 .index_top .index_tab span{
    vertical-align: middle;
    margin-top: 46px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 16px;
}
.section1 .index_content>img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
}
.section1 .index_content .download {
    position: fixed;
    top: 72%;
    width: 1200px;
    left: calc(50% - 615px + 110px);
}
.section1 .index_content .download a{
    margin-left: 85px;
    display: inline-block;
}
.section1 .index_content .download a:first-child{
    margin-left: 0;
}
.section1 .index_content .download a:hover{
    opacity: 0.8;
}
.download_qrcode{
    display: none;
    float: right;
    margin-top: -76px;
    margin-left: 20px;
}
.scan_download:hover+.download_qrcode{
    display: block;
}
/*三屏通用*/
.index_con{
    width: 1060px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
}
.index_con .phone_show{
    position: relative;
    width: 288px;
    height: 588px;
    background: url(http://mbpic.mblive.cn/test/iphone6_model.png)no-repeat;
    z-index: -100;
    display: inline-block;
    margin-left: -100px;
    opacity: 0;
}
.index_con .phone_show .live{
    position: absolute;
    top: 72px;
    left: 19px;
    display: none;
}
.index_con .phone_introduce{
    position: absolute;
    left: 555px;
    top: 135px;
    color: #fff;
    font-family: "思源黑体 CN ExtraLight";
}
.index_con .phone_introduce .index_p1{
    font-size: 72px;
}
.index_con .phone_introduce .index_p2{
    font-size: 34px;
    margin-top: 30px;
}
.index_con .phone_introduce .index_p3{
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: #fff;
    margin-top: 80px;
    margin-bottom: 60px;
}
.index_con .phone_introduce .index_p4{
    font-size: 34px;
}
.index_con .phone_introduce p{
    position: relative;
    opacity: 0;
    left: 100px;
}

/*第二屏*/
.section2{
    overflow: hidden;
}
.index_con2 .phone_show2 .model2-a1{
    z-index: -50;
}
.index_con2 .phone_show2 .model2-a2{
    z-index: -40;
}
.index_con2 .phone_show2 .model2-a3{
    top: 297px;
    left: 165px;
    z-index: -30;
}
.index_con2 .phone_show2 .model2-a4{
    z-index: -20;
    top: 285px;
    left: 153px;
}
.index_con2 .phone_show2 .model2-a5{
    z-index: -10; 
    top: 86px;
}
/*.index_con2 .phone_introduce2 p{
    position: relative;
    opacity: 0;
    left: 500px;
}*/
/*第三屏*/
.section3{
    overflow: hidden;
}
.index_con3 .phone_introduce{
    left: 0;
}
.index_con3 .phone_show3{
    float: right;
    margin-right: -100px;
}
.index_con3 .phone_show3 .model3-a1{
    z-index: -50;
}
.index_con3 .phone_show3 .model3-a2{
    top: 85px;
    z-index: -40;
}
.index_con3 .phone_show3 .model3-a3{
    top: 45px;
    left: 217px;
    z-index: -30;
}
.index_con3 .phone_show3 .model3-a4{
    top: 268px;
    /*left: -52px;*/
    left: -102px;
    z-index: -20;
    opacity: 0;
}
.index_con3 .phone_show3 .model3-a5{
    top: 335px;
    /*left: 0px;*/
    left: -50px;
    z-index: -20;
    opacity: 0;
}
.index_con3 .phone_show3 .model3-a6{
    top: 365px;
    /*left: -20px;*/
    left: -70px;
    z-index: -20;
    opacity: 0;
}
.index_con3 .phone_show3 .model3-a7{
    top: 395px;
    /*left: -35px;*/
    left: -85px;
    z-index: -20;
    opacity: 0;
}
.index_con3 .phone_show3 .model3-a8{
    top: 450px;
    /*left: -52px;*/
    left: -102px;
    z-index: -20;
    opacity: 0;
}
/*.index_con3 .phone_introduce3 p{
    position: relative;
    opacity: 0;
    left: -500px;
}*/
/*第四屏*/
.section4{
    overflow: hidden;
}
.index_con4 .phone_show .model4-a1{
    z-index: -50;
}
.index_con4 .phone_show .model4-a2{
    z-index: -40;
    top: 84px;
    left: 28px;
}
.index_con4 .phone_show .model4-a3{
    z-index: -30;
    top: 247px;
    left: 91px;
}
.index_con4 .phone_show .model4-a4{
    z-index: -50;
}
/*.index_con4 .phone_introduce4 p{
    position: relative;
    opacity: 0;
    left: 500px;
}*/
