body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div {
	margin: 0;
	padding: 0;
	border: 0;
}

ul,
ol {
	list-style-type: none;
}

html,
body {
	height: 100%;
	font-family: "微软雅黑";
}

body {
	background: #f0f0f0;
}

input,
select,
option,
textarea,
button {
	outline: none;
	border: none;
}

#head {
	height: 18px;
	background: #ffffff;
	padding: 10px 0 12px 15px;
}

#head span {
	width: 15px;
	padding-left: 16px;
	border-left: 2px #ffbe00 solid;
}

#user,
#user_sign {
	background: #ffffff;
	height: 50px;
	margin-top: 10px;
	position: relative;
}

.display_none {
	display: none;
}

.button {
	background: #ffffff;
	font-size: 14px;
	color: #ffbe00;
	position: absolute;
	right: 15px;
	top: 17px;
}

.username {
	height: 16px;
	position: absolute;
	left: 15px;
	top: 19px;
	width: 80%;
}

#user_picture {
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	left: 15px;
}

#user_name {
	position: absolute;
	left: 65px;
	top: 6px;
	font-size: 15px;
	color: #505050;
}

#user_id {
	position: absolute;
	left: 65px;
	top: 28px;
	font-size: 12px;
	color: #a0a0a0;
}

#send_flower {
	width: 100%;
	background: #ffffff;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
}

.level {
	position: relative;
}

.level>div {
	width: 28%;
}

.text-top {
	margin-top: 12%;
}

.text-bottom {
	margin-top: 17%;
}

.level_1 {
	margin-top: 15px;
}

.flower {
	width: 28%;
	background: url(http://mbpic.mblive.cn/test/flo_bg.png) no-repeat;
	background-size: 100% 100%;
}

.flower span {
	display: block;
	/*font-size: 12px;*/
	color: #ffbe00;
	text-align: center;
}

.flower_click {
	width: 28%;
	background: url(http://mbpic.mblive.cn/test/flo_bg_on.png) no-repeat;
	background-size: 100% 100%;
}

.flower_click span {
	color: #ffffff;
}

.level_2>div {
	color: #ff9710;
	height: 20px;
}

.left {
	position: absolute;
	left: 15px;
	top: 0;
}

.middle {
	margin: 0 auto;
}

.right {
	position: absolute;
	right: 15px;
	top: 0;
}

.another_gift {
	font-size: 10px;
	text-align: center;
	line-height: 30px;
}

#payment {
	width: 100%;
	margin-top: 10px;
	height: 102px;
}

.pay_logo {
	max-width: 20px;
	max-height: 20px;
}

#wechat,
#alipay {
	height: 20px;
	padding: 15px;
	position: relative;
}

#wechat {
	margin-bottom: 2px;
}

#alipay {}

#payment span {
	color: #a0a0a0;
	font-size: 14px;
	display: block;
	height: 12px;
	margin-left: 7px;
	position: absolute;
	left: 50px;
	top: 17px;
}

.unpayment_bg {
	background: #ffffff;
}

.unpayment_bg:active {
	background: #f5f5f5;
}

.select {
	width: 16px;
	height: 16px;
	background: url(http://mbpic.mblive.cn/test/pay_unselected.png) no-repeat;
	background-size: 100%;
	position: absolute;
	right: 15px;
	top: 16px;
}

.select_ing {
	background: url(http://mbpic.mblive.cn/test/pay_selected.png) no-repeat;
	background-size: 100%;
}

#enter {
	width: 240px;
	height: 28px;
	background: #ffbe00;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 20px;
	text-align: center;
	padding-top: 12px;
}

#enter a {
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
	line-height: 14px;
	display: block;
}

#success_box {
	width: 100%;
	position: absolute;
	top: 235px;
}

#success_box img {
	max-width: 75px;
	max-height: 75px;
	display: block;
	margin: 0 auto;
}

#success_text {
	width: 64px;
	color: #505050;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 20px;
}

#enter_success {
	width: 240px;
	height: 28px;
	background: #ffbe00;
	position: absolute;
	bottom: 100px;
	left: calc(50% - 120px);
	border-radius: 20px;
	text-align: center;
	padding-top: 12px;
}

#enter_success a {
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
	line-height: 14px;
	display: block;
}