<!DOCTYPE html>
<html>
<head>	
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection"content="telephone=no, email=no" />
    <title>充值游戏币</title>
    <link rel="stylesheet" href="css/weixin/style.css">
    <style>
      #removeAd ~*{
            display: none;
      }
      .withdraw-money ul li .number span.yellow{
        color:#ffbe00;
      }
    </style>
</head>
<body class="p-recharge2">
  <div class="wrap"></div>
	<!-- <header class="clearfix">
              <div class="clearfix">
                  <div class="rw-photo l">
                      <img src="images/photo.jpg">
                  </div>
                  <div class="rw-info">
                      <p class="name">胡大大大</p>
                      <p class="id">ID:123456</p>
                  </div>               
              </div>
              <input type="button" value="更换账号" class="login" onclick="window.location.href='recharge1.html'">
          </header>
          <div class="interval" style="display">
              <span>请选择充值金额：</span>
          </div>
          <div class="withdraw-money">
              <ul>
                  <li>
                      <label>
                          <div class="number game">
                              <span>160游戏币</span>
                              <span>160游戏币</span>
                          </div>
                          <div class="money">
                              <span>6元</span>
                              <input type="radio" name="recharge">
                          </div>
                      </label>
                  </li>
                  <li>
                      <label>
                          <div class="number game">
                              <span>160游戏币</span>
                              <span>160游戏币</span>
                          </div>
                          <div class="money">
                              <span>6元</span>
                              <input type="radio" name="recharge">
                          </div>
                      </label>
                  </li>
                  <li>
                      <label>
                          <div class="number game">
                              <span>160游戏币</span>
                              <span>160游戏币</span>
                          </div>
                          <div class="money">
                              <span>6元</span>
                              <input type="radio" name="recharge">
                          </div>
                      </label>
                  </li>
              </ul>
          </div>
          <div class="submit bg-grey">
              <input type="button" value="提交申请" class="btn-yellow" id="j_submit">
              <p class="tip">充值成功后请到app余额内查看</p>
          </div> -->
    <script src="http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/js/jquery-1.9.1.min.js"></script>
    <script src="http://mblive.oss-cn-hangzhou.aliyuncs.com/mblive/js/backbone_underscore.js"></script>
    <script src="js/component/pop.js"></script>
	 <script src="js/pages/recharge/pay.js"></script>
    <script type="text/template" id="j_user_template">
        <header class="clearfix">
            <div class="clearfix">
                <div class="rw-photo l">
                    <img src="<%= pic %>">
                </div>
                <div class="rw-info">
                    <p class="name"><%= nick_name %></p>
                    <p class="id">ID:<%= client_no %></p>
					<input type="hidden" id="j_unique_no" value="<%= unique_no %>">
                </div>               
            </div>
            <input type="button" value="更换账号" class="login" ontouchstart="window.location.href='/mibo/recharge_bind.html'">
        </header>
    </script>
    <script type="text/template" id="j_list_template">
        
        <div class="withdraw-money">
            <ul>
                <% 
                var flag = true;
                _.each(list,function(obj, index){ 
                  %>
                <li>
                    <div class="label">
                        <div class="number game">
                            <span><%= obj.gold_num %>游戏币</span>
							<% if(obj.extra_integral_num!=0){ %>
								<span>额外赠送<%= obj.extra_integral_num   %>积分</span>
							<% } %>
                        </div>
                        <div class="money">
                            <span><%= obj.gold_goods_price %>元</span>
                            <%                              
                              if(flag){
                                var checked = "checked";
                                flag = false;
                              }else{
                                var checked = "";
                              }
                             %>
                            <input type="radio" name="recharge" <%= checked %> data-id="<%= obj.gold_goods_id  %>"> 
                        </div>
                    </div>
                </li>
                <% }) %>
            </ul>
        </div>
        
    </script>
    <script>	
    //解决手机上label-click事件延时的感觉
    $('body').on('touchstart','.label',function(){
      $(this).find('input[type="radio"]').prop('checked',true);
      $(this).siblings().find('input[type="radio"]').prop('checked',false);
    })
   var User = Backbone.Model.extend({
        url: '/mbliving/wxgoldgoods',
    })
    var UserView = Backbone.View.extend({
        el: $('.wrap'),
        template: _.template($('#j_user_template').html()),
        render: function(){
            this.$el.append(this.template(this.model));

            return this;
        }
    })

    var payFlag = false;
    //金额
    var Money = Backbone.Model.extend({});
    var MoneyView = Backbone.View.extend({
        el: $('.wrap'),
        template: _.template($('#j_list_template').html()),
        render: function(){          
            this.$el.append(this.template(this.model.toJSON()));
            // alert(this.template(this.model.toJSON()));
            return this;
        }
    })
	

    var AppView = Backbone.View.extend({
        el: $('.wrap'),
        events: {
            'touchstart #j_submit': 'gotoPay'
        },
        initialize: function(){
            this.model = new User();
        
            var _this = this;
            this.model.fetch({
                success: function(model, data){
					          // alert(JSON.stringify(data));
                    //实例化用户                   
                    var user = data.msg.data,
                        userView = new UserView({model: user});
                        
                    _this.$el.append(userView.render().el);

                    //实例化金额列表
                    var money = new Money();

                    //遍历数组，把980豆的提到最前显示
                    /*$.each(data.msg.goods, function(index, value){
                      if(value.bean_num==980){
                        data.msg.goods.splice(index, 1);
                        data.msg.goods.unshift(value);
                        return false;
                      }
                    })*/
                    

                    money.set({'list': data.msg.goods});
                    var moneyView = new MoneyView({model: money});
                    //console.log(data.msg.goods);
                    //console.log(moneyView);                                         
                    _this.$el.append('<div class="interval"><span>请选择充值金额：</span></div>');
                    _this.$el.append(moneyView.render().el);
                    _this.$el.append('<div class="submit bg-grey"><div class="more" style="display:none;position:absolute;bottom:100%;left:0;width:100%;background:#fff;color: #a7a7a7;line-height:50px;text-align:center;border-top: 1px solid #e5e5e5;">查看更多</div><p class="tip">充值联系客服QQ：3536780586</p><input type="button" value="确认充值" class="btn-yellow" id="j_submit"><p class="tip">充值成功后请到app余额内查看</p></div>');

                    //是否显示查看更多
                    var sHeight = $(window).height(),//屏幕高度
                        cHeight = $(document).height();//页面高度
                    if(cHeight>sHeight){
                      $('.more').show();
                      $('.more').on('touchstart',function(){
                        $('.more').hide();
                         $('body').animate({ scrollTop: 200 }, 500);
                      })
                      $(window).scroll(function(){
                        $('.more').hide();
                      })
                    }
                }
            });
        },
        gotoPay: function(){
          if(!payFlag){
            payFlag = true;
            var good_id = $('[name=recharge]:checked').attr('data-id');
            var unique_no = $('#j_unique_no').val();
            var recharge_type = 2;
            startWxPay(good_id,unique_no,recharge_type);
          }
			
        }
    })
    var appView = new AppView();
    </script>
    <div id="removeAd"></div>  
</body>
</html>
